In [38]:
# Instalar 1 vez
# !pip install geopy
# !pip install geocoder
# !pip install requests
# !pip install selenium
# !pip install folium
# !pip install googlemaps

Collecting googlemaps
  Downloading googlemaps-4.4.1.tar.gz (28 kB)
Requirement already satisfied: requests<3.0,>=2.20.0 in c:\users\migue\anaconda3\lib\site-packages (from googlemaps) (2.22.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\migue\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\migue\appdata\roaming\python\python37\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\migue\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.25.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\migue\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py): started
  Building wheel for googlemaps (setup.py): finished with status 'done'
  Created wheel for googlemaps: filename=googlemaps-4.4.1-py3-none-any.whl size=37823 sha256=1b582007e3923b587994909bb86f652009f07e8036882fe23f624600930e711a
  Stored in directory: c:\users\migue\appdata\local\pip\cache\wheels\59\eb\61\bba46c3c7dcb0866d48fd67a0c406cc54b80559613449e25e5
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.4.1

In [41]:
# Cargamos algunas librerías necesarias.
import numpy  as np  
import pandas as pd
pd.set_option('display.max_columns', 100) # Con esto garantizo el ver todas las columnas.

from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt # Para dibujar alguna gráfica.
%matplotlib inline

from geopy.geocoders import Nominatim
import geocoder
import requests
import re
import threading 
import time

import googlemaps
from geopy.geocoders import Nominatim

In [3]:
df = pd.read_csv('./Accidentalidad_final.csv',sep=';', decimal='.', encoding= 'utf-8')
df.head()

,FECHA,RANGO HORARIO,DIA SEMANA,DISTRITO,LUGAR ACCIDENTE,Nº,Nº PARTE,CPFA Granizo,CPFA Hielo,CPFA Lluvia,CPFA Niebla,CPFA Seco,CPFA Nieve,CPSV Mojada,CPSV Aceite,CPSV Barro,CPSV Grava Suelta,CPSV Hielo,CPSV Seca Y Limpia,Nº VICTIMAS,TIPO ACCIDENTE,Tipo Vehiculo,TIPO PERSONA,SEXO,LESIVIDAD,Tramo Edad
0,25/01/2017,DE 14:00 A 14:59,MIERCOLES,SAN BLAS,CALLE DE TAMPICO NUM ...,95,2017/799,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,3.0,COLISIÓN DOBLE,NO ASIGNADO,TESTIGO,HOMBRE,IL,DESCONOCIDA
1,20/11/2014,DE 9:00 A 9:59,JUEVES,CHAMARTIN,AUTOVIA M-30 CALZADA 2 KM. ...,32300,2014/10641,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 21 A 24 AÑOS
2,04/03/2014,DE 13:00 A 13:59,MARTES,VICALVARO,AVENIDA DE LA GRAN VIA DEL ESTE - CALLE DE LA ...,0,2014/2147,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,4.0,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 18 A 20 AÑOS
3,26/02/2012,DE 18:00 A 18:59,DOMINGO,ARGANZUELA,PASEO DE LAS DELICIAS - CALLE DE MURCIA ...,0,2012/2009,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,NO ASIGNADA,DE 18 A 20 AÑOS
4,26/05/2018,DE 00:00 A 00:59,SABADO,ARGANZUELA,CALLE DE EROS - CALLE DE LA ESTRELLA HADAR ...,0,2018/5408,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,4.0,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,DE 35 A 39 AÑOS

In [4]:
# Quitamos los espacios en blanco porque en Testigo da problema para quitarlos al tener esos espacios.
df['TIPO PERSONA'] = df['TIPO PERSONA'].str.strip()
print (df['TIPO PERSONA'])

0           TESTIGO
1         CONDUCTOR
2           VIAJERO
3         CONDUCTOR
4            PEATON
            ...
252993    CONDUCTOR
252994    CONDUCTOR
252995    CONDUCTOR
252996      VIAJERO
252997      VIAJERO
Name: TIPO PERSONA, Length: 252998, dtype: object

In [5]:
# Quitamos a los testigos y reiniciamos el índice
df = df[df['TIPO PERSONA'] != 'TESTIGO'].reset_index(drop=True)
df.shape

(221332, 26)

In [6]:
# Quitamos los espacios en blanco porque en No Asignado da problema para quitarlos al tener esos espacios.
df['LESIVIDAD'] = df['LESIVIDAD'].str.strip()
print (df['LESIVIDAD'])

0                  HL
1                  HL
2         NO ASIGNADA
3                  HL
4                  HL
             ...
221327    NO ASIGNADA
221328             IL
221329             IL
221330             IL
221331             IL
Name: LESIVIDAD, Length: 221332, dtype: object

In [7]:
# Vamos a quitar de Lesividad los heridos que no nos da información de su gravedad (No Asignada)
df['LESIVIDAD'].value_counts()

HL             102716
IL              98387
NO ASIGNADA     11104
HG               8850
MT                275
Name: LESIVIDAD, dtype: int64

In [8]:
# Quitamos a los testigos y reiniciamos el índice
df = df[df['LESIVIDAD'] != 'NO ASIGNADA'].reset_index(drop=True)
df.shape

(210228, 26)

#### Seguimos quitando espacios en blanco para facilitar el dataset

In [9]:
# Quitamos los espacios en blanco
df['TIPO ACCIDENTE'] = df['TIPO ACCIDENTE'].str.strip()
df['TIPO ACCIDENTE']

0         COLISIÓN DOBLE
1         COLISIÓN DOBLE
2              ATROPELLO
3         COLISIÓN DOBLE
4         COLISIÓN DOBLE
               ...
210223         ATROPELLO
210224    COLISIÓN DOBLE
210225    COLISIÓN DOBLE
210226    COLISIÓN DOBLE
210227         ATROPELLO
Name: TIPO ACCIDENTE, Length: 210228, dtype: object

In [10]:
# Quitamos los espacios en blanco
df['Tipo Vehiculo'] = df['Tipo Vehiculo'].str.strip()
df['Tipo Vehiculo']

0             MOTOCICLETA
1                 TURISMO
2             NO ASIGNADO
3             MOTOCICLETA
4               FURGONETA
               ...
210223        NO ASIGNADO
210224    AUTOBUS-AUTOCAR
210225          AUTO-TAXI
210226            TURISMO
210227            TURISMO
Name: Tipo Vehiculo, Length: 210228, dtype: object

In [11]:
# Quitamos los espacios en blanco
df['SEXO'] = df['SEXO'].str.strip()
df['SEXO']

0         HOMBRE
1          MUJER
2         HOMBRE
3         HOMBRE
4         HOMBRE
           ...
210223    HOMBRE
210224    HOMBRE
210225    HOMBRE
210226    HOMBRE
210227    HOMBRE
Name: SEXO, Length: 210228, dtype: object

In [12]:
# Quitamos los espacios en blanco
df['Tramo Edad'] = df['Tramo Edad'].str.strip()
df['Tramo Edad']

0         DE 21 A 24 AÑOS
1         DE 18 A 20 AÑOS
2         DE 35 A 39 AÑOS
3         DE 30 A 34 ANOS
4         DE 21 A 24 AÑOS
               ...
210223    DE 40 A 44 AÑOS
210224    DE 55 A 59 AÑOS
210225    DE 45 A 49 AÑOS
210226    DE 50 A 54 AÑOS
210227        DESCONOCIDA
Name: Tramo Edad, Length: 210228, dtype: object

In [13]:
df

,FECHA,RANGO HORARIO,DIA SEMANA,DISTRITO,LUGAR ACCIDENTE,Nº,Nº PARTE,CPFA Granizo,CPFA Hielo,CPFA Lluvia,CPFA Niebla,CPFA Seco,CPFA Nieve,CPSV Mojada,CPSV Aceite,CPSV Barro,CPSV Grava Suelta,CPSV Hielo,CPSV Seca Y Limpia,Nº VICTIMAS,TIPO ACCIDENTE,Tipo Vehiculo,TIPO PERSONA,SEXO,LESIVIDAD,Tramo Edad
0,20/11/2014,DE 9:00 A 9:59,JUEVES,CHAMARTIN,AUTOVIA M-30 CALZADA 2 KM. ...,32300,2014/10641,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 21 A 24 AÑOS
1,04/03/2014,DE 13:00 A 13:59,MARTES,VICALVARO,AVENIDA DE LA GRAN VIA DEL ESTE - CALLE DE LA ...,0,2014/2147,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,4.0,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 18 A 20 AÑOS
2,26/05/2018,DE 00:00 A 00:59,SABADO,ARGANZUELA,CALLE DE EROS - CALLE DE LA ESTRELLA HADAR ...,0,2018/5408,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,4.0,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,DE 35 A 39 AÑOS
3,25/02/2010,DE 14:00 A 14:59,JUEVES,CARABANCHEL,CALLE DE BELZUNEGUI - CALLE DE CARCASTILLO ...,0,2010/1766,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 30 A 34 ANOS
4,17/07/2012,DE 18:00 A 18:59,MARTES,MORATALAZ,AVENIDA DEL DOCTOR GARCIA TAPIA - AUTOVIA M-4...,0,2012/6707,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,3.0,COLISIÓN DOBLE,FURGONETA,CONDUCTOR,HOMBRE,IL,DE 21 A 24 AÑOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210223,16/03/2014,DE 19:00 A 19:59,DOMINGO,VILLA DE VALLECAS,POBLADO CAÑADA REAL ...,0,2014/2540,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,NO,1.0,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,DE 40 A 44 AÑOS
210224,07/06/2014,DE 22:00 A 22:59,SABADO,CIUDAD LINEAL,CALLE DE ARTURO SORIA - CALLE DE SORZANO ...,0,2014/5385,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,AUTOBUS-AUTOCAR,CONDUCTOR,HOMBRE,IL,DE 55 A 59 AÑOS
210225,01/02/2016,DE 14:00 A 14:59,LUNES,SALAMANCA,CALLE DE VELAZQUEZ NUM ...,96,2016/1223,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,AUTO-TAXI,CONDUCTOR,HOMBRE,IL,DE 45 A 49 AÑOS
210226,08/07/2011,DE 11:00 A 11:59,VIERNES,USERA,AVENIDA DE ANDALUCIA - GLORIETA MALAGA ...,0,2011/6621,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,TURISMO,VIAJERO,HOMBRE,IL,DE 50 A 54 AÑOS
210227,20/12/2012,DE 19:00 A 19:59,JUEVES,LATINA,PASEO DE EXTREMADURA KM. ...,4900,2012/11596,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,ATROPELLO,TURISMO,VIAJERO,HOMBRE,IL,DESCONOCIDA

## Coordenadas Calles con Número

In [127]:
stop_words = ['num', 'NUM']

stop_words = set(stop_words)
f = lambda x: ' '.join(w for w in x.split() if not w in stop_words)
df['LUGAR ACCIDENTE'] = df['LUGAR ACCIDENTE'].apply(f)

In [128]:
df['LUGAR ACCIDENTE'][13]

'AVENIDA DE NUESTRA SEÑORA DE FATIMA - CALLE DE MEDINA SIDONIA'

In [129]:
df['Calle completa'] = df['LUGAR ACCIDENTE'] +' '+ df['Nº'] + ', Madrid, Spain'
df['Calle completa'].head()

0      AUTOVIA M-30 CALZADA 2 KM. 32300, Madrid, Spain
1    AVENIDA DE LA GRAN VIA DEL ESTE - CALLE DE LA ...
2    CALLE DE EROS - CALLE DE LA ESTRELLA HADAR 0, ...
3    CALLE DE BELZUNEGUI - CALLE DE CARCASTILLO 0, ...
4    AVENIDA DEL DOCTOR GARCIA TAPIA - AUTOVIA M-40...
Name: Calle completa, dtype: object

In [130]:
df.head()

,FECHA,RANGO HORARIO,DIA SEMANA,DISTRITO,LUGAR ACCIDENTE,Nº,Nº PARTE,CPFA Granizo,CPFA Hielo,CPFA Lluvia,CPFA Niebla,CPFA Seco,CPFA Nieve,CPSV Mojada,CPSV Aceite,CPSV Barro,CPSV Grava Suelta,CPSV Hielo,CPSV Seca Y Limpia,Nº VICTIMAS,TIPO ACCIDENTE,Tipo Vehiculo,TIPO PERSONA,SEXO,LESIVIDAD,Tramo Edad,CruceCalle,Cruce,Calle completa
0,20/11/2014,DE 9:00 A 9:59,JUEVES,CHAMARTIN,AUTOVIA M-30 CALZADA 2 KM.,32300,2014/10641,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 21 A 24 AÑOS,NaN,"{'latitude': 40.3984544, 'longitude': -3.6010185}","AUTOVIA M-30 CALZADA 2 KM. 32300, Madrid, Spain"
1,04/03/2014,DE 13:00 A 13:59,MARTES,VICALVARO,AVENIDA DE LA GRAN VIA DEL ESTE - CALLE DE LA ...,0,2014/2147,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,4.0,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 18 A 20 AÑOS,"[AVENIDA DE LA GRAN VIA DEL ESTE , CALLE DE L...","{'latitude': 40.3938447, 'longitude': -3.6802824}",AVENIDA DE LA GRAN VIA DEL ESTE - CALLE DE LA ...
2,26/05/2018,DE 00:00 A 00:59,SABADO,ARGANZUELA,CALLE DE EROS - CALLE DE LA ESTRELLA HADAR,0,2018/5408,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,4.0,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,DE 35 A 39 AÑOS,"[CALLE DE EROS , CALLE DE LA ESTRELLA HADAR ...","{'latitude': 40.377139, 'longitude': -3.7393028}","CALLE DE EROS - CALLE DE LA ESTRELLA HADAR 0, ..."
3,25/02/2010,DE 14:00 A 14:59,JUEVES,CARABANCHEL,CALLE DE BELZUNEGUI - CALLE DE CARCASTILLO,0,2010/1766,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 30 A 34 ANOS,"[CALLE DE BELZUNEGUI , CALLE DE CARCASTILLO ...","{'latitude': 40.4100086, 'longitude': -3.6413044}","CALLE DE BELZUNEGUI - CALLE DE CARCASTILLO 0, ..."
4,17/07/2012,DE 18:00 A 18:59,MARTES,MORATALAZ,AVENIDA DEL DOCTOR GARCIA TAPIA - AUTOVIA M-40,0,2012/6707,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,3.0,COLISIÓN DOBLE,FURGONETA,CONDUCTOR,HOMBRE,IL,DE 21 A 24 AÑOS,"[AVENIDA DEL DOCTOR GARCIA TAPIA , AUTOVIA M...","{'latitude': 40.4522949, 'longitude': -3.6927161}",AVENIDA DEL DOCTOR GARCIA TAPIA - AUTOVIA M-40...

In [131]:
df['Calle completa'][13]

'AVENIDA DE NUESTRA SEÑORA DE FATIMA - CALLE DE MEDINA SIDONIA 0, Madrid, Spain'

In [132]:
df2 = df

In [133]:
df2.head()

,FECHA,RANGO HORARIO,DIA SEMANA,DISTRITO,LUGAR ACCIDENTE,Nº,Nº PARTE,CPFA Granizo,CPFA Hielo,CPFA Lluvia,CPFA Niebla,CPFA Seco,CPFA Nieve,CPSV Mojada,CPSV Aceite,CPSV Barro,CPSV Grava Suelta,CPSV Hielo,CPSV Seca Y Limpia,Nº VICTIMAS,TIPO ACCIDENTE,Tipo Vehiculo,TIPO PERSONA,SEXO,LESIVIDAD,Tramo Edad,CruceCalle,Cruce,Calle completa
0,20/11/2014,DE 9:00 A 9:59,JUEVES,CHAMARTIN,AUTOVIA M-30 CALZADA 2 KM.,32300,2014/10641,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 21 A 24 AÑOS,NaN,"{'latitude': 40.3984544, 'longitude': -3.6010185}","AUTOVIA M-30 CALZADA 2 KM. 32300, Madrid, Spain"
1,04/03/2014,DE 13:00 A 13:59,MARTES,VICALVARO,AVENIDA DE LA GRAN VIA DEL ESTE - CALLE DE LA ...,0,2014/2147,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,4.0,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 18 A 20 AÑOS,"[AVENIDA DE LA GRAN VIA DEL ESTE , CALLE DE L...","{'latitude': 40.3938447, 'longitude': -3.6802824}",AVENIDA DE LA GRAN VIA DEL ESTE - CALLE DE LA ...
2,26/05/2018,DE 00:00 A 00:59,SABADO,ARGANZUELA,CALLE DE EROS - CALLE DE LA ESTRELLA HADAR,0,2018/5408,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,4.0,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,DE 35 A 39 AÑOS,"[CALLE DE EROS , CALLE DE LA ESTRELLA HADAR ...","{'latitude': 40.377139, 'longitude': -3.7393028}","CALLE DE EROS - CALLE DE LA ESTRELLA HADAR 0, ..."
3,25/02/2010,DE 14:00 A 14:59,JUEVES,CARABANCHEL,CALLE DE BELZUNEGUI - CALLE DE CARCASTILLO,0,2010/1766,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 30 A 34 ANOS,"[CALLE DE BELZUNEGUI , CALLE DE CARCASTILLO ...","{'latitude': 40.4100086, 'longitude': -3.6413044}","CALLE DE BELZUNEGUI - CALLE DE CARCASTILLO 0, ..."
4,17/07/2012,DE 18:00 A 18:59,MARTES,MORATALAZ,AVENIDA DEL DOCTOR GARCIA TAPIA - AUTOVIA M-40,0,2012/6707,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,3.0,COLISIÓN DOBLE,FURGONETA,CONDUCTOR,HOMBRE,IL,DE 21 A 24 AÑOS,"[AVENIDA DEL DOCTOR GARCIA TAPIA , AUTOVIA M...","{'latitude': 40.4522949, 'longitude': -3.6927161}",AVENIDA DEL DOCTOR GARCIA TAPIA - AUTOVIA M-40...

In [134]:
# Quitamos los cruces
df2 = df2[~df2['Calle completa'].str.contains("-")]
df2

,FECHA,RANGO HORARIO,DIA SEMANA,DISTRITO,LUGAR ACCIDENTE,Nº,Nº PARTE,CPFA Granizo,CPFA Hielo,CPFA Lluvia,CPFA Niebla,CPFA Seco,CPFA Nieve,CPSV Mojada,CPSV Aceite,CPSV Barro,CPSV Grava Suelta,CPSV Hielo,CPSV Seca Y Limpia,Nº VICTIMAS,TIPO ACCIDENTE,Tipo Vehiculo,TIPO PERSONA,SEXO,LESIVIDAD,Tramo Edad,CruceCalle,Cruce,Calle completa
6,16/08/2011,DE 12:00 A 12:59,MARTES,CENTRO,CALLE DEL ARENAL,23,2011/7464,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,ATROPELLO,TURISMO,CONDUCTOR,HOMBRE,IL,DE MAS DE 74 AÑOS,NaN,"{'latitude': 40.4697158, 'longitude': -3.6917197}","CALLE DEL ARENAL 23, Madrid, Spain"
10,27/01/2018,DE 5:00 A 5:59,SABADO,SALAMANCA,CALLE DE JORGE JUAN,1,2018/1026,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HG,DE 30 A 34 ANOS,NaN,"{'latitude': 40.4309218, 'longitude': -3.655609}","CALLE DE JORGE JUAN 1, Madrid, Spain"
11,23/12/2011,DE 13:00 A 13:59,VIERNES,TETUAN,PASEO DE LA CASTELLANA,101,2011/12187,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,MOTOCICLETA,VIAJERO,MUJER,IL,DE 21 A 24 AÑOS,NaN,"{'latitude': 40.40827, 'longitude': -3.63074}","PASEO DE LA CASTELLANA 101, Madrid, Spain"
12,22/12/2017,DE 15:00 A 15:59,VIERNES,CIUDAD LINEAL,CALLE DE LA VIRGEN DE AFRICA,6,2017/12631,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 40 A 44 AÑOS,NaN,"{'latitude': 40.437866, 'longitude': -3.686275...","CALLE DE LA VIRGEN DE AFRICA 6, Madrid, Spain"
14,21/06/2016,DE 19:00 A 19:59,MARTES,CIUDAD LINEAL,AVENIDA DE AMERICA KM.,4500,2016/5990,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,2.0,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,MUJER,HL,DE 40 A 44 AÑOS,NaN,"{'latitude': 40.4257278, 'longitude': -3.7072423}","AVENIDA DE AMERICA KM. 4500, Madrid, Spain"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210220,05/02/2013,DE 16:00 A 16:59,MARTES,HORTALEZA,CALLE DE TOMAS REDONDO,7,2013/1167,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 45 A 49 AÑOS,NaN,NaN,"CALLE DE TOMAS REDONDO 7, Madrid, Spain"
210221,12/09/2015,DE 23:00 A 23:59,SABADO,CARABANCHEL,CALLE DEL GENERAL RICARDOS,55,2015/8092,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,2.0,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 50 A 54 AÑOS,NaN,NaN,"CALLE DEL GENERAL RICARDOS 55, Madrid, Spain"
210223,16/03/2014,DE 19:00 A 19:59,DOMINGO,VILLA DE VALLECAS,POBLADO CAÑADA REAL,0,2014/2540,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,NO,1.0,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,DE 40 A 44 AÑOS,NaN,NaN,"POBLADO CAÑADA REAL 0, Madrid, Spain"
210225,01/02/2016,DE 14:00 A 14:59,LUNES,SALAMANCA,CALLE DE VELAZQUEZ,96,2016/1223,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,AUTO-TAXI,CONDUCTOR,HOMBRE,IL,DE 45 A 49 AÑOS,NaN,NaN,"CALLE DE VELAZQUEZ 96, Madrid, Spain"
210227,20/12/2012,DE 19:00 A 19:59,JUEVES,LATINA,PASEO DE EXTREMADURA KM.,4900,2012/11596,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,ATROPELLO,TURISMO,VIAJERO,HOMBRE,IL,DESCONOCIDA,NaN,NaN,"PASEO DE EXTREMADURA KM. 4900, Madrid, Spain"

In [135]:
# Quitamos la M-30 que también da problemas con las coordenadas
df2 = df2[~df2['Calle completa'].str.contains("AUTOVIA")]
df2

,FECHA,RANGO HORARIO,DIA SEMANA,DISTRITO,LUGAR ACCIDENTE,Nº,Nº PARTE,CPFA Granizo,CPFA Hielo,CPFA Lluvia,CPFA Niebla,CPFA Seco,CPFA Nieve,CPSV Mojada,CPSV Aceite,CPSV Barro,CPSV Grava Suelta,CPSV Hielo,CPSV Seca Y Limpia,Nº VICTIMAS,TIPO ACCIDENTE,Tipo Vehiculo,TIPO PERSONA,SEXO,LESIVIDAD,Tramo Edad,CruceCalle,Cruce,Calle completa
6,16/08/2011,DE 12:00 A 12:59,MARTES,CENTRO,CALLE DEL ARENAL,23,2011/7464,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,ATROPELLO,TURISMO,CONDUCTOR,HOMBRE,IL,DE MAS DE 74 AÑOS,NaN,"{'latitude': 40.4697158, 'longitude': -3.6917197}","CALLE DEL ARENAL 23, Madrid, Spain"
10,27/01/2018,DE 5:00 A 5:59,SABADO,SALAMANCA,CALLE DE JORGE JUAN,1,2018/1026,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HG,DE 30 A 34 ANOS,NaN,"{'latitude': 40.4309218, 'longitude': -3.655609}","CALLE DE JORGE JUAN 1, Madrid, Spain"
11,23/12/2011,DE 13:00 A 13:59,VIERNES,TETUAN,PASEO DE LA CASTELLANA,101,2011/12187,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,MOTOCICLETA,VIAJERO,MUJER,IL,DE 21 A 24 AÑOS,NaN,"{'latitude': 40.40827, 'longitude': -3.63074}","PASEO DE LA CASTELLANA 101, Madrid, Spain"
12,22/12/2017,DE 15:00 A 15:59,VIERNES,CIUDAD LINEAL,CALLE DE LA VIRGEN DE AFRICA,6,2017/12631,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 40 A 44 AÑOS,NaN,"{'latitude': 40.437866, 'longitude': -3.686275...","CALLE DE LA VIRGEN DE AFRICA 6, Madrid, Spain"
14,21/06/2016,DE 19:00 A 19:59,MARTES,CIUDAD LINEAL,AVENIDA DE AMERICA KM.,4500,2016/5990,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,2.0,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,MUJER,HL,DE 40 A 44 AÑOS,NaN,"{'latitude': 40.4257278, 'longitude': -3.7072423}","AVENIDA DE AMERICA KM. 4500, Madrid, Spain"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210220,05/02/2013,DE 16:00 A 16:59,MARTES,HORTALEZA,CALLE DE TOMAS REDONDO,7,2013/1167,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 45 A 49 AÑOS,NaN,NaN,"CALLE DE TOMAS REDONDO 7, Madrid, Spain"
210221,12/09/2015,DE 23:00 A 23:59,SABADO,CARABANCHEL,CALLE DEL GENERAL RICARDOS,55,2015/8092,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,2.0,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 50 A 54 AÑOS,NaN,NaN,"CALLE DEL GENERAL RICARDOS 55, Madrid, Spain"
210223,16/03/2014,DE 19:00 A 19:59,DOMINGO,VILLA DE VALLECAS,POBLADO CAÑADA REAL,0,2014/2540,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,NO,1.0,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,DE 40 A 44 AÑOS,NaN,NaN,"POBLADO CAÑADA REAL 0, Madrid, Spain"
210225,01/02/2016,DE 14:00 A 14:59,LUNES,SALAMANCA,CALLE DE VELAZQUEZ,96,2016/1223,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,AUTO-TAXI,CONDUCTOR,HOMBRE,IL,DE 45 A 49 AÑOS,NaN,NaN,"CALLE DE VELAZQUEZ 96, Madrid, Spain"
210227,20/12/2012,DE 19:00 A 19:59,JUEVES,LATINA,PASEO DE EXTREMADURA KM.,4900,2012/11596,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,ATROPELLO,TURISMO,VIAJERO,HOMBRE,IL,DESCONOCIDA,NaN,NaN,"PASEO DE EXTREMADURA KM. 4900, Madrid, Spain"

In [136]:
len(df2['Calle completa'].unique())

18927

In [137]:
df2['Calle completa'].unique()

array(['CALLE DEL ARENAL 23, Madrid, Spain',
       'CALLE DE JORGE JUAN 1, Madrid, Spain',
       'PASEO DE LA CASTELLANA 101, Madrid, Spain', ...,
       'CALLE DE LOS ALGODONALES 54, Madrid, Spain',
       'CALLE 30 NC KM. 14800, Madrid, Spain',
       'CALLE DE SAGASTA 11, Madrid, Spain'], dtype=object)

In [138]:
dfCC = pd.DataFrame(df2['Calle completa'].unique()).astype(str)

In [139]:
dfCC['Calle completa'] = pd.DataFrame(df2['Calle completa'].unique()).astype(str)

In [140]:
dfCC

,0,Calle completa
0,"CALLE DEL ARENAL 23, Madrid, Spain","CALLE DEL ARENAL 23, Madrid, Spain"
1,"CALLE DE JORGE JUAN 1, Madrid, Spain","CALLE DE JORGE JUAN 1, Madrid, Spain"
2,"PASEO DE LA CASTELLANA 101, Madrid, Spain","PASEO DE LA CASTELLANA 101, Madrid, Spain"
3,"CALLE DE LA VIRGEN DE AFRICA 6, Madrid, Spain","CALLE DE LA VIRGEN DE AFRICA 6, Madrid, Spain"
4,"AVENIDA DE AMERICA KM. 4500, Madrid, Spain","AVENIDA DE AMERICA KM. 4500, Madrid, Spain"
...,...,...
18922,"CALLE DE ANTONIO LOPEZ 257, Madrid, Spain","CALLE DE ANTONIO LOPEZ 257, Madrid, Spain"
18923,"CALLE DE EMBAJADORES 117, Madrid, Spain","CALLE DE EMBAJADORES 117, Madrid, Spain"
18924,"CALLE DE LOS ALGODONALES 54, Madrid, Spain","CALLE DE LOS ALGODONALES 54, Madrid, Spain"
18925,"CALLE 30 NC KM. 14800, Madrid, Spain","CALLE 30 NC KM. 14800, Madrid, Spain"
18926,"CALLE DE SAGASTA 11, Madrid, Spain","CALLE DE SAGASTA 11, Madrid, Spain"

In [141]:
# from tqdm import tqdm
# tqdm.pandas()
# from geopy.geocoders import Nominatim
# geolocator = Nominatim(user_agent="TheCrash")

# from geopy.extra.rate_limiter import RateLimiter
# geocode = RateLimiter(geolocator.geocode, min_delay_seconds=0.1)
# dfCC['location'] = dfCC['Calle completa'].progress_apply(geocode)

# dfCC['point'] = dfCC['location'].apply(lambda loc: tuple(loc.point) if loc else None)

In [142]:
# dfCC.to_csv('./df3_Accidentalidad.csv',sep=';', decimal='.')

In [143]:
dfCC = pd.read_csv('./df3_Accidentalidad.csv',sep=';', decimal='.')
dfCC.head()

,Unnamed: 0,0,Calle completa,location,point
0,0,"CALLE DEL ARENAL 23, Madrid, Spain","CALLE DEL ARENAL 23, Madrid, Spain","Calle del Arenal, Húmera, Pozuelo de Alarcón, ...","(40.4292084, -3.7846342, 0.0)"
1,1,"CALLE DE JORGE JUAN 1, Madrid, Spain","CALLE DE JORGE JUAN 1, Madrid, Spain","Calle de Jorge Juan, Recoletos, Salamanca, Mad...","(40.4236967, -3.682893, 0.0)"
2,2,"PASEO DE LA CASTELLANA 101, Madrid, Spain","PASEO DE LA CASTELLANA 101, Madrid, Spain","Paseo de la Castellana, Ríos Rosas, Chamberí, ...","(40.44142, -3.6919575, 0.0)"
3,3,"CALLE DE LA VIRGEN DE AFRICA 6, Madrid, Spain","CALLE DE LA VIRGEN DE AFRICA 6, Madrid, Spain","Calle de la Virgen de África, San Pascual, Ciu...","(40.4387705, -3.6544403, 0.0)"
4,4,"AVENIDA DE AMERICA KM. 4500, Madrid, Spain","AVENIDA DE AMERICA KM. 4500, Madrid, Spain","Avenida de América, Parque de Lisboa, El Praon...","(40.35871775, -3.8203344946376587, 0.0)"

In [144]:
dfCC['point'].value_counts().sum()

16952

In [145]:
dfCC['point'].isnull().sum()

1975

In [146]:
dfCC.dtypes

Unnamed: 0         int64
0                 object
Calle completa    object
location          object
point             object
dtype: object

In [156]:
df['point'] = df['Calle completa'].map(dfCC.set_index('Calle completa')['point'])

In [157]:
df

,FECHA,RANGO HORARIO,DIA SEMANA,DISTRITO,LUGAR ACCIDENTE,Nº,Nº PARTE,CPFA Granizo,CPFA Hielo,CPFA Lluvia,CPFA Niebla,CPFA Seco,CPFA Nieve,CPSV Mojada,CPSV Aceite,CPSV Barro,CPSV Grava Suelta,CPSV Hielo,CPSV Seca Y Limpia,Nº VICTIMAS,TIPO ACCIDENTE,Tipo Vehiculo,TIPO PERSONA,SEXO,LESIVIDAD,Tramo Edad,CruceCalle,Cruce,Calle completa,Cruces,point2,point
0,20/11/2014,DE 9:00 A 9:59,JUEVES,CHAMARTIN,AUTOVIA M-30 CALZADA 2 KM.,32300,2014/10641,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 21 A 24 AÑOS,NaN,"{'latitude': 40.3984544, 'longitude': -3.6010185}","AUTOVIA M-30 CALZADA 2 KM. 32300, Madrid, Spain",NaN,NaN,NaN
1,04/03/2014,DE 13:00 A 13:59,MARTES,VICALVARO,AVENIDA DE LA GRAN VIA DEL ESTE - CALLE DE LA ...,0,2014/2147,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,4.0,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 18 A 20 AÑOS,"[AVENIDA DE LA GRAN VIA DEL ESTE , CALLE DE L...","{'latitude': 40.3938447, 'longitude': -3.6802824}",AVENIDA DE LA GRAN VIA DEL ESTE - CALLE DE LA ...,AVENIDA DE LA GRAN VIA DEL ESTE CALLE DE LA P...,"{'latitude': 40.3984544, 'longitude': -3.6010185}",NaN
2,26/05/2018,DE 00:00 A 00:59,SABADO,ARGANZUELA,CALLE DE EROS - CALLE DE LA ESTRELLA HADAR,0,2018/5408,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,4.0,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,DE 35 A 39 AÑOS,"[CALLE DE EROS , CALLE DE LA ESTRELLA HADAR ...","{'latitude': 40.377139, 'longitude': -3.7393028}","CALLE DE EROS - CALLE DE LA ESTRELLA HADAR 0, ...",CALLE DE EROS CALLE DE LA ESTRELLA HADAR ...,"{'latitude': 40.3938447, 'longitude': -3.6802824}",NaN
3,25/02/2010,DE 14:00 A 14:59,JUEVES,CARABANCHEL,CALLE DE BELZUNEGUI - CALLE DE CARCASTILLO,0,2010/1766,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 30 A 34 ANOS,"[CALLE DE BELZUNEGUI , CALLE DE CARCASTILLO ...","{'latitude': 40.4100086, 'longitude': -3.6413044}","CALLE DE BELZUNEGUI - CALLE DE CARCASTILLO 0, ...",CALLE DE BELZUNEGUI CALLE DE CARCASTILLO ...,"{'latitude': 40.377139, 'longitude': -3.7393028}",NaN
4,17/07/2012,DE 18:00 A 18:59,MARTES,MORATALAZ,AVENIDA DEL DOCTOR GARCIA TAPIA - AUTOVIA M-40,0,2012/6707,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,3.0,COLISIÓN DOBLE,FURGONETA,CONDUCTOR,HOMBRE,IL,DE 21 A 24 AÑOS,"[AVENIDA DEL DOCTOR GARCIA TAPIA , AUTOVIA M...","{'latitude': 40.4522949, 'longitude': -3.6927161}",AVENIDA DEL DOCTOR GARCIA TAPIA - AUTOVIA M-40...,"AVENIDA DEL DOCTOR GARCIA TAPIA AUTOVIA M, M...","{'latitude': 40.4100086, 'longitude': -3.6413044}",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210223,16/03/2014,DE 19:00 A 19:59,DOMINGO,VILLA DE VALLECAS,POBLADO CAÑADA REAL,0,2014/2540,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,NO,1.0,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,DE 40 A 44 AÑOS,NaN,NaN,"POBLADO CAÑADA REAL 0, Madrid, Spain",NaN,NaN,NaN
210224,07/06/2014,DE 22:00 A 22:59,SABADO,CIUDAD LINEAL,CALLE DE ARTURO SORIA - CALLE DE SORZANO,0,2014/5385,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,AUTOBUS-AUTOCAR,CONDUCTOR,HOMBRE,IL,DE 55 A 59 AÑOS,"[CALLE DE ARTURO SORIA , CALLE DE SORZANO ...",NaN,"CALLE DE ARTURO SORIA - CALLE DE SORZANO 0, Ma...",CALLE DE ARTURO SORIA CALLE DE SORZANO ...,"{'latitude': 40.4534521, 'longitude': -3.6544454}",NaN
210225,01/02/2016,DE 14:00 A 14:59,LUNES,SALAMANCA,CALLE DE VELAZQUEZ,96,2016/1223,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,AUTO-TAXI,CONDUCTOR,HOMBRE,IL,DE 45 A 49 AÑOS,NaN,NaN,"CALLE DE VELAZQUEZ 96, Madrid, Spain",NaN,NaN,"(40.4447334, -3.3524124, 0.0)"
210226,08/07/2011,DE 11:00 A 11:59,VIERNES,USERA,AVENIDA DE ANDALUCIA - GLORIETA MALAGA,0,2011/6621,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,TURISMO,VIAJERO,HOMBRE,IL,DE 50 A 54 AÑOS,"[AVENIDA DE ANDALUCIA , GLORIETA MALAGA ...",NaN,"AVENIDA DE ANDALUCIA - GLORIETA MALAGA 0, Madr...",AVENIDA DE ANDALUCIA GLORIETA MALAGA ...,"{'latitude': 40.3530968, 'longitude': -3.6931236}",NaN
210227,20/12/2012,DE 19:00 A 19:59,JUEVES,LATINA,PASEO DE EXTREMADURA KM.,4900,2012/11596,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,ATROPELLO,TURISMO,VIAJERO,HOMBRE,IL,DESCONOCIDA,NaN,NaN,"PASEO DE EXTREMADURA KM. 4900, Madrid, Spain",NaN,NaN,"(40.3845965, -3.7833986, 0.0)"

### Ahora con los cruces

In [158]:
df['Calle completa']

0           AUTOVIA M-30 CALZADA 2 KM. 32300, Madrid, Spain
1         AVENIDA DE LA GRAN VIA DEL ESTE - CALLE DE LA ...
2         CALLE DE EROS - CALLE DE LA ESTRELLA HADAR 0, ...
3         CALLE DE BELZUNEGUI - CALLE DE CARCASTILLO 0, ...
4         AVENIDA DEL DOCTOR GARCIA TAPIA - AUTOVIA M-40...
                                ...
210223                 POBLADO CAÑADA REAL 0, Madrid, Spain
210224    CALLE DE ARTURO SORIA - CALLE DE SORZANO 0, Ma...
210225                 CALLE DE VELAZQUEZ 96, Madrid, Spain
210226    AVENIDA DE ANDALUCIA - GLORIETA MALAGA 0, Madr...
210227         PASEO DE EXTREMADURA KM. 4900, Madrid, Spain
Name: Calle completa, Length: 210228, dtype: object

In [150]:
# Vemos que hay unos 40000 cruces en el dataset
len(df[df['Calle completa'].str.contains(' - ')])

99512

In [14]:
df['CruceCalle'] = df['LUGAR ACCIDENTE'][df['LUGAR ACCIDENTE'].str.contains(" - ")].str.split("-")

In [26]:
df3 = df.CruceCalle.apply(pd.Series)

In [27]:
df3.head()

,0,1,2,3,4
0,NaN,NaN,NaN,NaN,NaN
1,AVENIDA DE LA GRAN VIA DEL ESTE,CALLE DE LA PIROTECNIA ...,NaN,NaN,NaN
2,CALLE DE EROS,CALLE DE LA ESTRELLA HADAR ...,NaN,NaN,NaN
3,CALLE DE BELZUNEGUI,CALLE DE CARCASTILLO ...,NaN,NaN,NaN
4,AVENIDA DEL DOCTOR GARCIA TAPIA,AUTOVIA M,40 ...,NaN,NaN

In [28]:
df3.columns = ['Calle1','Calle2','nada1', 'nada2', 'nada3']
df3.drop(['nada1', 'nada2', 'nada3'], axis=1, inplace=True)
df3.head()

,Calle1,Calle2
0,NaN,NaN
1,AVENIDA DE LA GRAN VIA DEL ESTE,CALLE DE LA PIROTECNIA ...
2,CALLE DE EROS,CALLE DE LA ESTRELLA HADAR ...
3,CALLE DE BELZUNEGUI,CALLE DE CARCASTILLO ...
4,AVENIDA DEL DOCTOR GARCIA TAPIA,AUTOVIA M

In [29]:
# Quitamos NaN
df3 = df3.dropna()

In [30]:
df3

,Calle1,Calle2
1,AVENIDA DE LA GRAN VIA DEL ESTE,CALLE DE LA PIROTECNIA ...
2,CALLE DE EROS,CALLE DE LA ESTRELLA HADAR ...
3,CALLE DE BELZUNEGUI,CALLE DE CARCASTILLO ...
4,AVENIDA DEL DOCTOR GARCIA TAPIA,AUTOVIA M
5,AVENIDA DEL GENERAL PERON,CALLE DEL CAPITAN HAYA ...
...,...,...
210214,CALLE DE JOSE ORTEGA Y GASSET,PASEO DE LA CASTELLANA ...
210217,CALLE DE MATAELPINO,CALLE DE QUINTILIANO ...
210222,CALLE DE JOSE PAULETE,CAMINO DE VALDERRIBAS ...
210224,CALLE DE ARTURO SORIA,CALLE DE SORZANO ...
210226,AVENIDA DE ANDALUCIA,GLORIETA MALAGA ...

In [20]:
# # Le agregamos "Madrid, Spain" para facilitar la búsqueda.
# df3['Calle1'] = df3['Calle1'] + ', Madrid, Spain'
# df3['Calle1']

1         AVENIDA DE LA GRAN VIA DEL ESTE , Madrid, Spain
2                           CALLE DE EROS , Madrid, Spain
3                     CALLE DE BELZUNEGUI , Madrid, Spain
4         AVENIDA DEL DOCTOR GARCIA TAPIA , Madrid, Spain
5               AVENIDA DEL GENERAL PERON , Madrid, Spain
                               ...
210214      CALLE DE JOSE ORTEGA Y GASSET , Madrid, Spain
210217                CALLE DE MATAELPINO , Madrid, Spain
210222              CALLE DE JOSE PAULETE , Madrid, Spain
210224              CALLE DE ARTURO SORIA , Madrid, Spain
210226               AVENIDA DE ANDALUCIA , Madrid, Spain
Name: Calle1, Length: 99512, dtype: object

In [21]:
# len(df3['Calle1'].unique())

3837

In [22]:
# dfCr = pd.DataFrame(df3['Calle1'].unique()).astype(str)

In [23]:
# dfCr['Calle1'] = pd.DataFrame(df3['Calle1'].unique()).astype(str)
# dfCr

,0,Calle1
0,"AVENIDA DE LA GRAN VIA DEL ESTE , Madrid, Spain","AVENIDA DE LA GRAN VIA DEL ESTE , Madrid, Spain"
1,"CALLE DE EROS , Madrid, Spain","CALLE DE EROS , Madrid, Spain"
2,"CALLE DE BELZUNEGUI , Madrid, Spain","CALLE DE BELZUNEGUI , Madrid, Spain"
3,"AVENIDA DEL DOCTOR GARCIA TAPIA , Madrid, Spain","AVENIDA DEL DOCTOR GARCIA TAPIA , Madrid, Spain"
4,"AVENIDA DEL GENERAL PERON , Madrid, Spain","AVENIDA DEL GENERAL PERON , Madrid, Spain"
...,...,...
3832,"CALLE PRINCIPAL DE PROVINCIAS , Madrid, Spain","CALLE PRINCIPAL DE PROVINCIAS , Madrid, Spain"
3833,"CALLE DE HISTORIAS DE LA RADIO , Madrid, Spain","CALLE DE HISTORIAS DE LA RADIO , Madrid, Spain"
3834,"CALLE DE JOSE NORIEGA , Madrid, Spain","CALLE DE JOSE NORIEGA , Madrid, Spain"
3835,"CALLE DEL RASTRO , Madrid, Spain","CALLE DEL RASTRO , Madrid, Spain"
3836,"CALLE DE ADELA BALBOA , Madrid, Spain","CALLE DE ADELA BALBOA , Madrid, Spain"

In [100]:
df3

,Calle1,Calle2
1,AVENIDA DE LA GRAN VIA DEL ESTE,CALLE DE LA PIROTECNIA ...
2,CALLE DE EROS,CALLE DE LA ESTRELLA HADAR ...
3,CALLE DE BELZUNEGUI,CALLE DE CARCASTILLO ...
4,AVENIDA DEL DOCTOR GARCIA TAPIA,AUTOVIA M
5,AVENIDA DEL GENERAL PERON,CALLE DEL CAPITAN HAYA ...
...,...,...
210214,CALLE DE JOSE ORTEGA Y GASSET,PASEO DE LA CASTELLANA ...
210217,CALLE DE MATAELPINO,CALLE DE QUINTILIANO ...
210222,CALLE DE JOSE PAULETE,CAMINO DE VALDERRIBAS ...
210224,CALLE DE ARTURO SORIA,CALLE DE SORZANO ...
210226,AVENIDA DE ANDALUCIA,GLORIETA MALAGA ...

In [113]:
df6 = df3['Calle1']+df3['Calle2'] + ', Madrid, spain'
df6.nunique()

12454

In [119]:
df6 = pd.DataFrame(df6.unique()).astype(str)

In [120]:
df6

                                                       0
0      AVENIDA DE LA GRAN VIA DEL ESTE  CALLE DE LA P...
1      CALLE DE EROS  CALLE DE LA ESTRELLA HADAR     ...
2      CALLE DE BELZUNEGUI  CALLE DE CARCASTILLO     ...
3      AVENIDA DEL DOCTOR GARCIA TAPIA  AUTOVIA  M, M...
4      AVENIDA DEL GENERAL PERON  CALLE DEL CAPITAN H...
...                                                  ...
12449  CALLE DE JOSE NORIEGA  CALLE DE SAN EMILIO    ...
12450  CALLE DEL RASTRO  CALLE DEL MATADERO VIEJO    ...
12451  CALLE DE ADELA BALBOA  CALLE DEL CASTILLO PIÑE...
12452  CALLE DE ERASO  CALLE DEL CONDE DE VILCHES    ...
12453  CALLE DE BOADILLA DEL MONTE  CARRETERA DE CARA...

[12454 rows x 1 columns]

In [115]:
# def geolocation_with_google(streetA):
#     geolocator = googlemaps.Client(key='AIzaSyAD_gWdEsKqPbP-cqtzyeEr7SDyAggDD8k')
#     try:
#         location = geolocator.geocode(streetA)
#     except Exception as e:
#         return None
#     if len(location) == 0:
#         return None
#     coordinates = {
#         'latitude': location[0]["geometry"]["location"]["lat"],
#         'longitude': location[0]["geometry"]["location"]["lng"]
#     }
#     return coordinates

In [116]:
# gps = geolocation_with_google(df6[1])
# print(gps)

{'latitude': 40.3984544, 'longitude': -3.6010185}

In [121]:
# df6['Coordenadas'] = df6.apply(lambda x: geolocation_with_google(x[0]), axis=1)

In [122]:
# df6.to_csv('./df4_Accidentalidad.csv',sep=';', decimal='.')

In [ ]:
df6 = pd.read_csv('./df4_Accidentalidad.csv',sep=';', decimal='.')
df6

In [126]:
df6

,0,Coordenadas
0,AVENIDA DE LA GRAN VIA DEL ESTE CALLE DE LA P...,"{'latitude': 40.3984544, 'longitude': -3.6010185}"
1,CALLE DE EROS CALLE DE LA ESTRELLA HADAR ...,"{'latitude': 40.3938447, 'longitude': -3.6802824}"
2,CALLE DE BELZUNEGUI CALLE DE CARCASTILLO ...,"{'latitude': 40.377139, 'longitude': -3.7393028}"
3,"AVENIDA DEL DOCTOR GARCIA TAPIA AUTOVIA M, M...","{'latitude': 40.4100086, 'longitude': -3.6413044}"
4,AVENIDA DEL GENERAL PERON CALLE DEL CAPITAN H...,"{'latitude': 40.4522949, 'longitude': -3.6927161}"
...,...,...
12449,CALLE DE JOSE NORIEGA CALLE DE SAN EMILIO ...,"{'latitude': 40.4264022, 'longitude': -3.6558285}"
12450,CALLE DEL RASTRO CALLE DEL MATADERO VIEJO ...,"{'latitude': 40.4082021, 'longitude': -3.7072981}"
12451,CALLE DE ADELA BALBOA CALLE DEL CASTILLO PIÑE...,"{'latitude': 40.448252, 'longitude': -3.7071909}"
12452,CALLE DE ERASO CALLE DEL CONDE DE VILCHES ...,"{'latitude': 40.435212, 'longitude': -3.668928}"
12453,CALLE DE BOADILLA DEL MONTE CARRETERA DE CARA...,"{'latitude': 40.3929781, 'longitude': -3.7259224}"

In [151]:
df['Cruces']= df3['Calle1'] + df3['Calle2'] + ', Madrid, spain'

In [125]:
df['Cruce'] = df6['Coordenadas']

In [153]:
df['point2'] = df['Cruces'].map(df6.set_index(0)['Coordenadas'])

In [159]:
df['point'] = df['point'].fillna(df['point2'])

In [161]:
df.head(25)

,FECHA,RANGO HORARIO,DIA SEMANA,DISTRITO,LUGAR ACCIDENTE,Nº,Nº PARTE,CPFA Granizo,CPFA Hielo,CPFA Lluvia,CPFA Niebla,CPFA Seco,CPFA Nieve,CPSV Mojada,CPSV Aceite,CPSV Barro,CPSV Grava Suelta,CPSV Hielo,CPSV Seca Y Limpia,Nº VICTIMAS,TIPO ACCIDENTE,Tipo Vehiculo,TIPO PERSONA,SEXO,LESIVIDAD,Tramo Edad,CruceCalle,Cruce,Calle completa,Cruces,point2,point
0,20/11/2014,DE 9:00 A 9:59,JUEVES,CHAMARTIN,AUTOVIA M-30 CALZADA 2 KM.,32300,2014/10641,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 21 A 24 AÑOS,NaN,"{'latitude': 40.3984544, 'longitude': -3.6010185}","AUTOVIA M-30 CALZADA 2 KM. 32300, Madrid, Spain",NaN,NaN,NaN
1,04/03/2014,DE 13:00 A 13:59,MARTES,VICALVARO,AVENIDA DE LA GRAN VIA DEL ESTE - CALLE DE LA ...,0,2014/2147,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,4.0,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 18 A 20 AÑOS,"[AVENIDA DE LA GRAN VIA DEL ESTE , CALLE DE L...","{'latitude': 40.3938447, 'longitude': -3.6802824}",AVENIDA DE LA GRAN VIA DEL ESTE - CALLE DE LA ...,AVENIDA DE LA GRAN VIA DEL ESTE CALLE DE LA P...,"{'latitude': 40.3984544, 'longitude': -3.6010185}","{'latitude': 40.3984544, 'longitude': -3.6010185}"
2,26/05/2018,DE 00:00 A 00:59,SABADO,ARGANZUELA,CALLE DE EROS - CALLE DE LA ESTRELLA HADAR,0,2018/5408,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,4.0,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,DE 35 A 39 AÑOS,"[CALLE DE EROS , CALLE DE LA ESTRELLA HADAR ...","{'latitude': 40.377139, 'longitude': -3.7393028}","CALLE DE EROS - CALLE DE LA ESTRELLA HADAR 0, ...",CALLE DE EROS CALLE DE LA ESTRELLA HADAR ...,"{'latitude': 40.3938447, 'longitude': -3.6802824}","{'latitude': 40.3938447, 'longitude': -3.6802824}"
3,25/02/2010,DE 14:00 A 14:59,JUEVES,CARABANCHEL,CALLE DE BELZUNEGUI - CALLE DE CARCASTILLO,0,2010/1766,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 30 A 34 ANOS,"[CALLE DE BELZUNEGUI , CALLE DE CARCASTILLO ...","{'latitude': 40.4100086, 'longitude': -3.6413044}","CALLE DE BELZUNEGUI - CALLE DE CARCASTILLO 0, ...",CALLE DE BELZUNEGUI CALLE DE CARCASTILLO ...,"{'latitude': 40.377139, 'longitude': -3.7393028}","{'latitude': 40.377139, 'longitude': -3.7393028}"
4,17/07/2012,DE 18:00 A 18:59,MARTES,MORATALAZ,AVENIDA DEL DOCTOR GARCIA TAPIA - AUTOVIA M-40,0,2012/6707,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,3.0,COLISIÓN DOBLE,FURGONETA,CONDUCTOR,HOMBRE,IL,DE 21 A 24 AÑOS,"[AVENIDA DEL DOCTOR GARCIA TAPIA , AUTOVIA M...","{'latitude': 40.4522949, 'longitude': -3.6927161}",AVENIDA DEL DOCTOR GARCIA TAPIA - AUTOVIA M-40...,"AVENIDA DEL DOCTOR GARCIA TAPIA AUTOVIA M, M...","{'latitude': 40.4100086, 'longitude': -3.6413044}","{'latitude': 40.4100086, 'longitude': -3.6413044}"
5,31/05/2016,DE 13:00 A 13:59,MARTES,TETUAN,AVENIDA DEL GENERAL PERON - CALLE DEL CAPITAN ...,0,2016/5276,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HG,DE 35 A 39 AÑOS,"[AVENIDA DEL GENERAL PERON , CALLE DEL CAPITA...","{'latitude': 40.4604716, 'longitude': -3.707914}",AVENIDA DEL GENERAL PERON - CALLE DEL CAPITAN ...,AVENIDA DEL GENERAL PERON CALLE DEL CAPITAN H...,"{'latitude': 40.4522949, 'longitude': -3.6927161}","{'latitude': 40.4522949, 'longitude': -3.6927161}"
6,16/08/2011,DE 12:00 A 12:59,MARTES,CENTRO,CALLE DEL ARENAL,23,2011/7464,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,ATROPELLO,TURISMO,CONDUCTOR,HOMBRE,IL,DE MAS DE 74 AÑOS,NaN,"{'latitude': 40.4697158, 'longitude': -3.6917197}","CALLE DEL ARENAL 23, Madrid, Spain",NaN,NaN,"(40.4292084, -3.7846342, 0.0)"
7,19/01/2012,DE 20:00 A 20:59,JUEVES,TETUAN,PASEO DE LA DIRECCION - CALLE DE VILLAAMIL,0,2012/625,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 25 A 29 AÑOS,"[PASEO DE LA DIRECCION , CALLE DE VILLAAMIL ...","{'latitude': 40.3806748, 'longitude': -3.7483419}","PASEO DE LA DIRECCION - CALLE DE VILLAAMIL 0, ...",PASEO DE LA DIRECCION CALLE DE VILLAAMIL ...,"{'latitude': 40.4604716, 'longitude': -3.707914}","{'latitude': 40.4604716, 'longitude': -3.707914}"
8,02/12/2015,DE 6:00 A 6:59,MIERCOLES,TETUAN,CALLE DE LAS MAGNOLIAS - CALLE DE SAN LEOPOLDO,0,2015/11153,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 55 A 59 AÑOS,"[CALLE DE LAS MAGNOLIAS , CALLE DE SAN LEOPOL...","{'latitude': 40.40774589999999, 'longitude': -...",CALLE DE LAS MAGNOLIAS - CALLE DE SAN LEOPOLDO...,CALLE DE LAS MAGNOLIAS CALLE DE SAN LEOPOLDO ...,"{'latitude': 40.4697158, 'longitude': -3.6917197}","{'latitude': 40.4697158, 'longitude': -3.6917197}"
9,15/10/2016,DE 18:00 A 18:59,SABADO,ARGANZUELA,AUTOVIA M-30 CALZADA 1 KM.,15000,2016/9662,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,3.0,CHOQUE CON OBJETO FIJO,TURISMO,VIAJERO,HOMBRE,HL,DE 25 A 29 AÑOS,NaN,"{'latitude': 40.4321163, 'longitude': -3.6126278}","AUTOVIA M-30 CALZADA 1 KM. 15000, Madrid, Spain",NaN,NaN,NaN
10,27/01/2018,DE 5:00 A 5:59,SABADO,SALAMANCA,CALLE DE JORGE JUAN,1,2018/1026,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HG,DE 30 A 34 ANOS,NaN,"{'latitude': 40.4309218, 'longitude': -3.655609}","CALLE DE JORGE JUAN 1, Madrid, Spain",NaN,NaN,"(40.4236967, -3.682893, 0.0)"
11,23/12/2011,DE 13:00 A 13:59,VIERNES,TETUAN,PASEO DE LA CASTELLANA,101,2011/12187,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,MOTOCICLETA,VIAJERO,MUJER,IL,DE 21 A 24 AÑOS,NaN,"{'latitude': 40.40827, 'longitude': -3.63074}","PASEO DE LA CASTELLANA 101, Madrid, Spain",NaN,NaN,"(40.44142, -3.6919575, 0.0)"
12,22/12/2017,DE 15:00 A 15:59,VIERNES,CIUDAD LINEAL,CALLE DE LA VIRGEN DE AFRICA,6,2017/12631,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 40 A 44 AÑOS,NaN,"{'latitude': 40.437866, 'longitude': -3.686275...","CALLE DE LA VIRGEN DE AFRICA 6, Madrid, Spain",NaN,NaN,"(40.4387705, -3.6544403, 0.0)"
13,26/09/2012,DE 23:00 A 23:59,MIERCOLES,CARABANCHEL,AVENIDA DE NUESTRA SEÑORA DE FATIMA - CALLE DE...,0,2012/8528,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,3.0,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 21 A 24 AÑOS,"[AVENIDA DE NUESTRA SEÑORA DE FATIMA , CALLE ...","{'latitude': 40.4818453, 'longitude': -3.7281057}",AVENIDA DE NUESTRA SEÑORA DE FATIMA - CALLE DE...,AVENIDA DE NUESTRA SEÑORA DE FATIMA CALLE DE ...,"{'latitude': 40.3806748, 'longitude': -3.7483419}","{'latitude': 40.3806748, 'longitude': -3.7483419}"
14,21/06/2016,DE 19:00 A 19:59,MARTES,CIUDAD LINEAL,AVENIDA DE AMERICA KM.,4500,2016/5990,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,2.0,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,MUJER,HL,DE 40 A 44 AÑOS,NaN,"{'latitude': 40.4257278, 'longitude': -3.7072423}","AVENIDA DE AMERICA KM. 4500, Madrid, Spain",NaN,NaN,"(40.35871775, -3.8203344946376587, 0.0)"
15,13/06/2010,DE 2:00 A 2:59,DOMINGO,VICALVARO,CALLE DE CALAHORRA - PASEO DE LOS ARTILLEROS,0,2010/5352,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,1.0,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,IL,DE 21 A 24 AÑOS,"[CALLE DE CALAHORRA , PASEO DE LOS ARTILLEROS...","{'latitude': 40.4528989, 'longitude': -3.70393...",CALLE DE CALAHORRA - PASEO DE LOS ARTILLEROS 0...,CALLE DE CALAHORRA PASEO DE LOS ARTILLEROS ...,"{'latitude': 40.40774589999999, 'longitude': -...","{'latitude': 40.40774589999999, 'longitude': -..."
16,06/06/2015,DE 11:00 A 11:59,SABADO,ARGANZUELA,PASEO DE SANTA MARIA DE LA CABEZA,5,2015/5282,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,MUJER,HL,DE 25 A 29 AÑOS,NaN,"{'latitude': 40.3434512, 'longitude': -3.6929635}","PASEO DE SANTA MARIA DE LA CABEZA 5, Madrid, S...",NaN,NaN,"(40.40658095, -3.6937868443711186, 0.0)"
17,23/11/2015,DE 17:00 A 17:59,LUNES,CARABANCHEL,AVENIDA DE LOS POBLADOS,98,2015/10677,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,5.0,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 30 A 34 ANOS,NaN,"{'latitude': 40.3576999, 'longitude': -3.6959936}","AVENIDA DE LOS POBLADOS 98, Madrid, Spain",NaN,NaN,"(40.3939864, -3.7717371, 0.0)"
18,25/06/2013,DE 14:00 A 14:59,MARTES,MORATALAZ,AUTOVIA M-30 CALZADA 2 KM.,8900,2013/5848,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,MUJER,HL,DE 40 A 44 AÑOS,NaN,"{'latitude': 40.48002, 'longitude': -3.70463}","AUTOVIA M-30 CALZADA 2 KM. 8900, Madrid, Spain",NaN,NaN,NaN
19,11/02/2017,DE 13:00 A 13:59,SABADO,MONCLOA-ARAVACA,AUTOVIA M-30 CALZADA 2 KM.,18100,2017/1441,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,1.0,CHOQUE CON OBJETO FIJO,TURISMO,CONDUCTOR,HOMBRE,HL,DE 40 A 44 AÑOS,NaN,"{'latitude': 40.4069876, 'longitude': -3.71163...","AUTOVIA M-30 CALZADA 2 KM. 18100, Madrid, Spain",NaN,NaN,NaN
20,30/12/2010,DE 20:00 A 20:59,JUEVES,VICALVARO,PLAZA DE ALOSNO,4,2010/11943,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,3.0,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 45 A 49 AÑOS,NaN,"{'latitude': 40.3680713, 'longitude': -3.6236592}","PLAZA DE ALOSNO 4, Madrid, Spain",NaN,NaN,"(40.4056395, -3.6174293, 0.0)"
21,26/03/2012,DE 9:00 A 9:59,LUNES,MORATALAZ,AUTOVIA M-23 ENTRADA KM.,0,2012/2828,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,3.0,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,MUJER,HL,DE 30 A 34 ANOS,NaN,"{'latitude': 40.4426263, 'longitude': -3.7125723}","AUTOVIA M-23 ENTRADA KM. 0, Madrid, Spain",NaN,NaN,NaN
22,05/01/2018,DE 20:00 A 20:59,VIERNES,CHAMARTIN,AVENIDA DE CONCHA ESPINA,67,2018/180,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,2.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,HL,DE 40 A 44 AÑOS,NaN,"{'latitude': 40.4388829, 'longitude': -3.7099272}","AVENIDA DE CONCHA ESPINA 67, Madrid, Spain",NaN,NaN,"(40.4522218, -3.6898256, 0.0)"
23,01/05/2010,DE 6:00 A 6:59,SABADO,SAN BLAS,CALLE DE ALCALA,470,2010/3820,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,CHOQUE CON OBJETO FIJO,FURGONETA,CONDUCTOR,HOMBRE,HL,DE 30 A 34 ANOS,NaN,"{'latitude': 40.4127308, 'longitude': -3.6914211}","CALLE DE ALCALA 470, Madrid, Spain",NaN,NaN,"(40.4391331, -3.632933, 0.0)"
24,26/01/2010,DE 15:00 A 15:59,MARTES,MORATALAZ,AUTOVIA M-23 ENTRADA KM.,2000,2010/749,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,4.0,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,MUJER,HL,DE 35 A 39 AÑOS,NaN,"{'latitude': 40.4201146, 'longitude': -3.7030137}","AUTOVIA M-23 ENTRADA KM. 2000, Madrid, Spain",NaN,NaN,NaN

In [181]:
df['point'].isnull().sum()

10207

### Finalmente hacemos las coordenadas de la M30

In [163]:
# Hay unas 6500 filas de la M30 y otras autovías.
len(df[df['Calle completa'].str.contains('AUTOVIA')])

18116

In [164]:
df[df['Calle completa'].str.contains('AUTOVIA')]

,FECHA,RANGO HORARIO,DIA SEMANA,DISTRITO,LUGAR ACCIDENTE,Nº,Nº PARTE,CPFA Granizo,CPFA Hielo,CPFA Lluvia,CPFA Niebla,CPFA Seco,CPFA Nieve,CPSV Mojada,CPSV Aceite,CPSV Barro,CPSV Grava Suelta,CPSV Hielo,CPSV Seca Y Limpia,Nº VICTIMAS,TIPO ACCIDENTE,Tipo Vehiculo,TIPO PERSONA,SEXO,LESIVIDAD,Tramo Edad,CruceCalle,Cruce,Calle completa,Cruces,point2,point
0,20/11/2014,DE 9:00 A 9:59,JUEVES,CHAMARTIN,AUTOVIA M-30 CALZADA 2 KM.,32300,2014/10641,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 21 A 24 AÑOS,NaN,"{'latitude': 40.3984544, 'longitude': -3.6010185}","AUTOVIA M-30 CALZADA 2 KM. 32300, Madrid, Spain",NaN,NaN,NaN
4,17/07/2012,DE 18:00 A 18:59,MARTES,MORATALAZ,AVENIDA DEL DOCTOR GARCIA TAPIA - AUTOVIA M-40,0,2012/6707,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,3.0,COLISIÓN DOBLE,FURGONETA,CONDUCTOR,HOMBRE,IL,DE 21 A 24 AÑOS,"[AVENIDA DEL DOCTOR GARCIA TAPIA , AUTOVIA M...","{'latitude': 40.4522949, 'longitude': -3.6927161}",AVENIDA DEL DOCTOR GARCIA TAPIA - AUTOVIA M-40...,"AVENIDA DEL DOCTOR GARCIA TAPIA AUTOVIA M, M...","{'latitude': 40.4100086, 'longitude': -3.6413044}","{'latitude': 40.4100086, 'longitude': -3.6413044}"
9,15/10/2016,DE 18:00 A 18:59,SABADO,ARGANZUELA,AUTOVIA M-30 CALZADA 1 KM.,15000,2016/9662,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,3.0,CHOQUE CON OBJETO FIJO,TURISMO,VIAJERO,HOMBRE,HL,DE 25 A 29 AÑOS,NaN,"{'latitude': 40.4321163, 'longitude': -3.6126278}","AUTOVIA M-30 CALZADA 1 KM. 15000, Madrid, Spain",NaN,NaN,NaN
18,25/06/2013,DE 14:00 A 14:59,MARTES,MORATALAZ,AUTOVIA M-30 CALZADA 2 KM.,8900,2013/5848,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,MUJER,HL,DE 40 A 44 AÑOS,NaN,"{'latitude': 40.48002, 'longitude': -3.70463}","AUTOVIA M-30 CALZADA 2 KM. 8900, Madrid, Spain",NaN,NaN,NaN
19,11/02/2017,DE 13:00 A 13:59,SABADO,MONCLOA-ARAVACA,AUTOVIA M-30 CALZADA 2 KM.,18100,2017/1441,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,1.0,CHOQUE CON OBJETO FIJO,TURISMO,CONDUCTOR,HOMBRE,HL,DE 40 A 44 AÑOS,NaN,"{'latitude': 40.4069876, 'longitude': -3.71163...","AUTOVIA M-30 CALZADA 2 KM. 18100, Madrid, Spain",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210179,04/04/2012,DE 13:00 A 13:59,MIERCOLES,MORATALAZ,AUTOVIA M-30 CALZADA 2 - AUTOVIA M-23 SALIDA,0,2012/3201,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,3.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,HL,DE 30 A 34 ANOS,"[AUTOVIA M, 30 CALZADA 2 , AUTOVIA M, 23 SA...",NaN,AUTOVIA M-30 CALZADA 2 - AUTOVIA M-23 SALIDA 0...,"AUTOVIA M30 CALZADA 2 , Madrid, spain","{'latitude': 40.4210557, 'longitude': -3.7224778}","{'latitude': 40.4210557, 'longitude': -3.7224778}"
210182,22/12/2016,DE 21:00 A 21:59,JUEVES,ARGANZUELA,AUTOVIA M-30 CALZADA 1 KM.,12000,2016/12391,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,2.0,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 40 A 44 AÑOS,NaN,NaN,"AUTOVIA M-30 CALZADA 1 KM. 12000, Madrid, Spain",NaN,NaN,NaN
210200,27/09/2018,DE 11:00 A 11:59,JUEVES,MONCLOA-ARAVACA,AUTOVIA M-30 CALZADA 1 KM.,23000,2018/10836,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,2.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 21 A 24 AÑOS,NaN,NaN,"AUTOVIA M-30 CALZADA 1 KM. 23000, Madrid, Spain",NaN,NaN,NaN
210213,11/09/2015,DE 20:00 A 20:59,VIERNES,ARGANZUELA,AUTOVIA M-30 CALZADA 1 KM.,10700,2015/8140,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 21 A 24 AÑOS,NaN,NaN,"AUTOVIA M-30 CALZADA 1 KM. 10700, Madrid, Spain",NaN,NaN,NaN
210215,29/12/2015,DE 5:00 A 5:59,MARTES,MONCLOA-ARAVACA,AUTOVIA M-30 CALZADA 1 KM.,23000,2015/11845,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,1.0,VUELCO,TURISMO,CONDUCTOR,HOMBRE,HL,DE 40 A 44 AÑOS,NaN,NaN,"AUTOVIA M-30 CALZADA 1 KM. 23000, Madrid, Spain",NaN,NaN,NaN

In [165]:
df['Autovia'] = df['LUGAR ACCIDENTE']

In [166]:
df['Autovia'] = df.Autovia.apply(pd.Series)

In [167]:
# df.apply(lambda x: x.str.split(n=2).str[0])

In [168]:
# Quitamos CALZADA y demás palabras que puedan entorpecer la búsqueda.
df['Autovia'] = df['Autovia'].str.replace('CALZADA 1 KM.','')
df['Autovia'] = df['Autovia'].str.replace('CALZADA 2 KM.','')
df['Autovia'] = df['Autovia'].str.replace('CALZADA 2','')
df['Autovia'] = df['Autovia'].str.replace('CALZADA','')
df['Autovia'] = df['Autovia'].str.replace('1','')
df['Autovia'] = df['Autovia'].str.replace(' 2','')
df['Autovia'] = df['Autovia'].str.replace(' - AUTOVIA M-40','')
df['Autovia'] = df['Autovia'].str.replace(' - AUTOVIA M-30','')
df['Autovia'] = df['Autovia'].str.replace('ENTRADA KM.','')
df['Autovia']

0                                             AUTOVIA M-30
1         AVENIDA DE LA GRAN VIA DEL ESTE - CALLE DE LA ...
2                CALLE DE EROS - CALLE DE LA ESTRELLA HADAR
3                CALLE DE BELZUNEGUI - CALLE DE CARCASTILLO
4                           AVENIDA DEL DOCTOR GARCIA TAPIA
                                ...
210223                                  POBLADO CAÑADA REAL
210224             CALLE DE ARTURO SORIA - CALLE DE SORZANO
210225                                   CALLE DE VELAZQUEZ
210226               AVENIDA DE ANDALUCIA - GLORIETA MALAGA
210227                             PASEO DE EXTREMADURA KM.
Name: Autovia, Length: 210228, dtype: object

In [169]:
# Agregamos el distrito para hacer la búsqueda correctamente. Ya que sino no sabe donde ubicarlo.
df['Autovia'] = df['Autovia'] + ' ' + df['DISTRITO'] + ', Madrid, Spain'

In [170]:
# Vemos como quedaría la columna de Autovía.
df[df['Autovia'].str.contains('AUTOVIA')]

,FECHA,RANGO HORARIO,DIA SEMANA,DISTRITO,LUGAR ACCIDENTE,Nº,Nº PARTE,CPFA Granizo,CPFA Hielo,CPFA Lluvia,CPFA Niebla,CPFA Seco,CPFA Nieve,CPSV Mojada,CPSV Aceite,CPSV Barro,CPSV Grava Suelta,CPSV Hielo,CPSV Seca Y Limpia,Nº VICTIMAS,TIPO ACCIDENTE,Tipo Vehiculo,TIPO PERSONA,SEXO,LESIVIDAD,Tramo Edad,CruceCalle,Cruce,Calle completa,Cruces,point2,point,Autovia
0,20/11/2014,DE 9:00 A 9:59,JUEVES,CHAMARTIN,AUTOVIA M-30 CALZADA 2 KM.,32300,2014/10641,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 21 A 24 AÑOS,NaN,"{'latitude': 40.3984544, 'longitude': -3.6010185}","AUTOVIA M-30 CALZADA 2 KM. 32300, Madrid, Spain",NaN,NaN,NaN,"AUTOVIA M-30 CHAMARTIN , ..."
9,15/10/2016,DE 18:00 A 18:59,SABADO,ARGANZUELA,AUTOVIA M-30 CALZADA 1 KM.,15000,2016/9662,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,3.0,CHOQUE CON OBJETO FIJO,TURISMO,VIAJERO,HOMBRE,HL,DE 25 A 29 AÑOS,NaN,"{'latitude': 40.4321163, 'longitude': -3.6126278}","AUTOVIA M-30 CALZADA 1 KM. 15000, Madrid, Spain",NaN,NaN,NaN,"AUTOVIA M-30 ARGANZUELA , ..."
18,25/06/2013,DE 14:00 A 14:59,MARTES,MORATALAZ,AUTOVIA M-30 CALZADA 2 KM.,8900,2013/5848,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,MUJER,HL,DE 40 A 44 AÑOS,NaN,"{'latitude': 40.48002, 'longitude': -3.70463}","AUTOVIA M-30 CALZADA 2 KM. 8900, Madrid, Spain",NaN,NaN,NaN,"AUTOVIA M-30 MORATALAZ , ..."
19,11/02/2017,DE 13:00 A 13:59,SABADO,MONCLOA-ARAVACA,AUTOVIA M-30 CALZADA 2 KM.,18100,2017/1441,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,1.0,CHOQUE CON OBJETO FIJO,TURISMO,CONDUCTOR,HOMBRE,HL,DE 40 A 44 AÑOS,NaN,"{'latitude': 40.4069876, 'longitude': -3.71163...","AUTOVIA M-30 CALZADA 2 KM. 18100, Madrid, Spain",NaN,NaN,NaN,"AUTOVIA M-30 MONCLOA-ARAVACA , ..."
21,26/03/2012,DE 9:00 A 9:59,LUNES,MORATALAZ,AUTOVIA M-23 ENTRADA KM.,0,2012/2828,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,3.0,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,MUJER,HL,DE 30 A 34 ANOS,NaN,"{'latitude': 40.4426263, 'longitude': -3.7125723}","AUTOVIA M-23 ENTRADA KM. 0, Madrid, Spain",NaN,NaN,NaN,"AUTOVIA M-23 MORATALAZ , ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210179,04/04/2012,DE 13:00 A 13:59,MIERCOLES,MORATALAZ,AUTOVIA M-30 CALZADA 2 - AUTOVIA M-23 SALIDA,0,2012/3201,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,3.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,HL,DE 30 A 34 ANOS,"[AUTOVIA M, 30 CALZADA 2 , AUTOVIA M, 23 SA...",NaN,AUTOVIA M-30 CALZADA 2 - AUTOVIA M-23 SALIDA 0...,"AUTOVIA M30 CALZADA 2 , Madrid, spain","{'latitude': 40.4210557, 'longitude': -3.7224778}","{'latitude': 40.4210557, 'longitude': -3.7224778}",AUTOVIA M-30 - AUTOVIA M-23 SALIDA MORATALAZ ...
210182,22/12/2016,DE 21:00 A 21:59,JUEVES,ARGANZUELA,AUTOVIA M-30 CALZADA 1 KM.,12000,2016/12391,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,2.0,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 40 A 44 AÑOS,NaN,NaN,"AUTOVIA M-30 CALZADA 1 KM. 12000, Madrid, Spain",NaN,NaN,NaN,"AUTOVIA M-30 ARGANZUELA , ..."
210200,27/09/2018,DE 11:00 A 11:59,JUEVES,MONCLOA-ARAVACA,AUTOVIA M-30 CALZADA 1 KM.,23000,2018/10836,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,2.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 21 A 24 AÑOS,NaN,NaN,"AUTOVIA M-30 CALZADA 1 KM. 23000, Madrid, Spain",NaN,NaN,NaN,"AUTOVIA M-30 MONCLOA-ARAVACA , ..."
210213,11/09/2015,DE 20:00 A 20:59,VIERNES,ARGANZUELA,AUTOVIA M-30 CALZADA 1 KM.,10700,2015/8140,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 21 A 24 AÑOS,NaN,NaN,"AUTOVIA M-30 CALZADA 1 KM. 10700, Madrid, Spain",NaN,NaN,NaN,"AUTOVIA M-30 ARGANZUELA , ..."
210215,29/12/2015,DE 5:00 A 5:59,MARTES,MONCLOA-ARAVACA,AUTOVIA M-30 CALZADA 1 KM.,23000,2015/11845,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,1.0,VUELCO,TURISMO,CONDUCTOR,HOMBRE,HL,DE 40 A 44 AÑOS,NaN,NaN,"AUTOVIA M-30 CALZADA 1 KM. 23000, Madrid, Spain",NaN,NaN,NaN,"AUTOVIA M-30 MONCLOA-ARAVACA , ..."

In [171]:
# Nos quedamos con las filas que contienen Autovía
dfAu = df[df['Autovia'].str.contains('AUTOVIA')]

In [172]:
# Y nos quedamos con los valores únicos para facilitar el scraping.
dfAu = pd.DataFrame(dfAu['Autovia'].unique()).astype(str)

In [173]:
dfAu = dfAu.rename(columns={0:'Autovia'})
dfAu

                                               Autovia
0    AUTOVIA M-30  CHAMARTIN                     , ...
1    AUTOVIA M-30  ARGANZUELA                    , ...
2    AUTOVIA M-30  MORATALAZ                     , ...
3    AUTOVIA M-30  MONCLOA-ARAVACA               , ...
4    AUTOVIA M-23  MORATALAZ                     , ...
..                                                 ...
343  ACCESO A LA AUTOVIA M-40 - GLORIETA DE PRAGA H...
344  AUTOVIA M-30  - CALLE DE O'DONNELL CIUDAD LINE...
345  AUTOVIA M-30  - CARRETERA DE COLMENAR VIEJO HO...
346  AUTOVIA M-30  - CALLE DEL DOCTOR RAMON CASTROV...
347  AUTOVIA M-30  - CALLE DE O'DONNELL SALAMANCA  ...

[348 rows x 1 columns]

In [174]:
# from tqdm import tqdm
# tqdm.pandas()
# from geopy.geocoders import Nominatim
# geolocator = Nominatim(user_agent="TheCrash")

# from geopy.extra.rate_limiter import RateLimiter
# geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
# dfAu['location'] = dfAu['Autovia'].progress_apply(geocode)

# dfAu['point'] = dfAu['location'].apply(lambda loc: tuple(loc.point) if loc else None)

In [175]:
# dfAu.to_csv('./df62018_Accidentalidad.csv',sep=';', decimal='.')

In [176]:
dfAu = pd.read_csv('./df62018_Accidentalidad.csv',sep=';', decimal='.')
dfAu.head()

,Unnamed: 0,Autovia,location,point
0,0,"AUTOVIA M-30 CHAMARTIN , ...","Autovía del Norte, Castilla, Chamartín, Madrid...","(40.4838733, -3.6735923, 0.0)"
1,1,"AUTOVIA M-30 ARGANZUELA , ...","Autovía de Toledo, Chopera, Arganzuela, Madrid...","(40.396602, -3.7033402, 0.0)"
2,2,"AUTOVIA M-30 MORATALAZ , ...","Autovía del Este (Avenida del Mediterráneo), F...","(40.406094, -3.66066, 0.0)"
3,3,"AUTOVIA M-30 MONCLOA-ARAVACA , ...","Autovía del Noroeste, Aravaca, Moncloa-Aravaca...","(40.4609015, -3.7596365, 0.0)"
4,4,"AUTOVIA M-23 MORATALAZ , ...","Autovía del Este (Avenida del Mediterráneo), F...","(40.406094, -3.66066, 0.0)"

In [177]:
df['point3'] = df['Autovia'].map(dfAu.set_index('Autovia')['point'])

In [178]:
df['point'] = df['point'].fillna(df['point3'])

In [183]:
df.head(50)

,FECHA,RANGO HORARIO,DIA SEMANA,DISTRITO,LUGAR ACCIDENTE,Nº,Nº PARTE,CPFA Granizo,CPFA Hielo,CPFA Lluvia,CPFA Niebla,CPFA Seco,CPFA Nieve,CPSV Mojada,CPSV Aceite,CPSV Barro,CPSV Grava Suelta,CPSV Hielo,CPSV Seca Y Limpia,Nº VICTIMAS,TIPO ACCIDENTE,Tipo Vehiculo,TIPO PERSONA,SEXO,LESIVIDAD,Tramo Edad,CruceCalle,Cruce,Calle completa,Cruces,point2,point,Autovia,point3
0,20/11/2014,DE 9:00 A 9:59,JUEVES,CHAMARTIN,AUTOVIA M-30 CALZADA 2 KM.,32300,2014/10641,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 21 A 24 AÑOS,NaN,"{'latitude': 40.3984544, 'longitude': -3.6010185}","AUTOVIA M-30 CALZADA 2 KM. 32300, Madrid, Spain",NaN,NaN,"(40.4838733, -3.6735923, 0.0)","AUTOVIA M-30 CHAMARTIN , ...","(40.4838733, -3.6735923, 0.0)"
1,04/03/2014,DE 13:00 A 13:59,MARTES,VICALVARO,AVENIDA DE LA GRAN VIA DEL ESTE - CALLE DE LA ...,0,2014/2147,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,4.0,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 18 A 20 AÑOS,"[AVENIDA DE LA GRAN VIA DEL ESTE , CALLE DE L...","{'latitude': 40.3938447, 'longitude': -3.6802824}",AVENIDA DE LA GRAN VIA DEL ESTE - CALLE DE LA ...,AVENIDA DE LA GRAN VIA DEL ESTE CALLE DE LA P...,"{'latitude': 40.3984544, 'longitude': -3.6010185}","{'latitude': 40.3984544, 'longitude': -3.6010185}",AVENIDA DE LA GRAN VIA DEL ESTE - CALLE DE LA ...,NaN
2,26/05/2018,DE 00:00 A 00:59,SABADO,ARGANZUELA,CALLE DE EROS - CALLE DE LA ESTRELLA HADAR,0,2018/5408,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,4.0,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,DE 35 A 39 AÑOS,"[CALLE DE EROS , CALLE DE LA ESTRELLA HADAR ...","{'latitude': 40.377139, 'longitude': -3.7393028}","CALLE DE EROS - CALLE DE LA ESTRELLA HADAR 0, ...",CALLE DE EROS CALLE DE LA ESTRELLA HADAR ...,"{'latitude': 40.3938447, 'longitude': -3.6802824}","{'latitude': 40.3938447, 'longitude': -3.6802824}",CALLE DE EROS - CALLE DE LA ESTRELLA HADAR ARG...,NaN
3,25/02/2010,DE 14:00 A 14:59,JUEVES,CARABANCHEL,CALLE DE BELZUNEGUI - CALLE DE CARCASTILLO,0,2010/1766,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 30 A 34 ANOS,"[CALLE DE BELZUNEGUI , CALLE DE CARCASTILLO ...","{'latitude': 40.4100086, 'longitude': -3.6413044}","CALLE DE BELZUNEGUI - CALLE DE CARCASTILLO 0, ...",CALLE DE BELZUNEGUI CALLE DE CARCASTILLO ...,"{'latitude': 40.377139, 'longitude': -3.7393028}","{'latitude': 40.377139, 'longitude': -3.7393028}",CALLE DE BELZUNEGUI - CALLE DE CARCASTILLO CAR...,NaN
4,17/07/2012,DE 18:00 A 18:59,MARTES,MORATALAZ,AVENIDA DEL DOCTOR GARCIA TAPIA - AUTOVIA M-40,0,2012/6707,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,3.0,COLISIÓN DOBLE,FURGONETA,CONDUCTOR,HOMBRE,IL,DE 21 A 24 AÑOS,"[AVENIDA DEL DOCTOR GARCIA TAPIA , AUTOVIA M...","{'latitude': 40.4522949, 'longitude': -3.6927161}",AVENIDA DEL DOCTOR GARCIA TAPIA - AUTOVIA M-40...,"AVENIDA DEL DOCTOR GARCIA TAPIA AUTOVIA M, M...","{'latitude': 40.4100086, 'longitude': -3.6413044}","{'latitude': 40.4100086, 'longitude': -3.6413044}",AVENIDA DEL DOCTOR GARCIA TAPIA MORATALAZ ...,NaN
5,31/05/2016,DE 13:00 A 13:59,MARTES,TETUAN,AVENIDA DEL GENERAL PERON - CALLE DEL CAPITAN ...,0,2016/5276,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HG,DE 35 A 39 AÑOS,"[AVENIDA DEL GENERAL PERON , CALLE DEL CAPITA...","{'latitude': 40.4604716, 'longitude': -3.707914}",AVENIDA DEL GENERAL PERON - CALLE DEL CAPITAN ...,AVENIDA DEL GENERAL PERON CALLE DEL CAPITAN H...,"{'latitude': 40.4522949, 'longitude': -3.6927161}","{'latitude': 40.4522949, 'longitude': -3.6927161}",AVENIDA DEL GENERAL PERON - CALLE DEL CAPITAN ...,NaN
6,16/08/2011,DE 12:00 A 12:59,MARTES,CENTRO,CALLE DEL ARENAL,23,2011/7464,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,ATROPELLO,TURISMO,CONDUCTOR,HOMBRE,IL,DE MAS DE 74 AÑOS,NaN,"{'latitude': 40.4697158, 'longitude': -3.6917197}","CALLE DEL ARENAL 23, Madrid, Spain",NaN,NaN,"(40.4292084, -3.7846342, 0.0)",CALLE DEL ARENAL CENTRO ...,NaN
7,19/01/2012,DE 20:00 A 20:59,JUEVES,TETUAN,PASEO DE LA DIRECCION - CALLE DE VILLAAMIL,0,2012/625,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 25 A 29 AÑOS,"[PASEO DE LA DIRECCION , CALLE DE VILLAAMIL ...","{'latitude': 40.3806748, 'longitude': -3.7483419}","PASEO DE LA DIRECCION - CALLE DE VILLAAMIL 0, ...",PASEO DE LA DIRECCION CALLE DE VILLAAMIL ...,"{'latitude': 40.4604716, 'longitude': -3.707914}","{'latitude': 40.4604716, 'longitude': -3.707914}",PASEO DE LA DIRECCION - CALLE DE VILLAAMIL TET...,NaN
8,02/12/2015,DE 6:00 A 6:59,MIERCOLES,TETUAN,CALLE DE LAS MAGNOLIAS - CALLE DE SAN LEOPOLDO,0,2015/11153,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 55 A 59 AÑOS,"[CALLE DE LAS MAGNOLIAS , CALLE DE SAN LEOPOL...","{'latitude': 40.40774589999999, 'longitude': -...",CALLE DE LAS MAGNOLIAS - CALLE DE SAN LEOPOLDO...,CALLE DE LAS MAGNOLIAS CALLE DE SAN LEOPOLDO ...,"{'latitude': 40.4697158, 'longitude': -3.6917197}","{'latitude': 40.4697158, 'longitude': -3.6917197}",CALLE DE LAS MAGNOLIAS - CALLE DE SAN LEOPOLDO...,NaN
9,15/10/2016,DE 18:00 A 18:59,SABADO,ARGANZUELA,AUTOVIA M-30 CALZADA 1 KM.,15000,2016/9662,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,3.0,CHOQUE CON OBJETO FIJO,TURISMO,VIAJERO,HOMBRE,HL,DE 25 A 29 AÑOS,NaN,"{'latitude': 40.4321163, 'longitude': -3.6126278}","AUTOVIA M-30 CALZADA 1 KM. 15000, Madrid, Spain",NaN,NaN,"(40.396602, -3.7033402, 0.0)","AUTOVIA M-30 ARGANZUELA , ...","(40.396602, -3.7033402, 0.0)"
10,27/01/2018,DE 5:00 A 5:59,SABADO,SALAMANCA,CALLE DE JORGE JUAN,1,2018/1026,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HG,DE 30 A 34 ANOS,NaN,"{'latitude': 40.4309218, 'longitude': -3.655609}","CALLE DE JORGE JUAN 1, Madrid, Spain",NaN,NaN,"(40.4236967, -3.682893, 0.0)",CALLE DE JORGE JUAN SALAMANCA ...,NaN
11,23/12/2011,DE 13:00 A 13:59,VIERNES,TETUAN,PASEO DE LA CASTELLANA,101,2011/12187,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,MOTOCICLETA,VIAJERO,MUJER,IL,DE 21 A 24 AÑOS,NaN,"{'latitude': 40.40827, 'longitude': -3.63074}","PASEO DE LA CASTELLANA 101, Madrid, Spain",NaN,NaN,"(40.44142, -3.6919575, 0.0)",PASEO DE LA CASTELLANA TETUAN ...,NaN
12,22/12/2017,DE 15:00 A 15:59,VIERNES,CIUDAD LINEAL,CALLE DE LA VIRGEN DE AFRICA,6,2017/12631,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 40 A 44 AÑOS,NaN,"{'latitude': 40.437866, 'longitude': -3.686275...","CALLE DE LA VIRGEN DE AFRICA 6, Madrid, Spain",NaN,NaN,"(40.4387705, -3.6544403, 0.0)",CALLE DE LA VIRGEN DE AFRICA CIUDAD LINEAL ...,NaN
13,26/09/2012,DE 23:00 A 23:59,MIERCOLES,CARABANCHEL,AVENIDA DE NUESTRA SEÑORA DE FATIMA - CALLE DE...,0,2012/8528,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,3.0,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 21 A 24 AÑOS,"[AVENIDA DE NUESTRA SEÑORA DE FATIMA , CALLE ...","{'latitude': 40.4818453, 'longitude': -3.7281057}",AVENIDA DE NUESTRA SEÑORA DE FATIMA - CALLE DE...,AVENIDA DE NUESTRA SEÑORA DE FATIMA CALLE DE ...,"{'latitude': 40.3806748, 'longitude': -3.7483419}","{'latitude': 40.3806748, 'longitude': -3.7483419}",AVENIDA DE NUESTRA SEÑORA DE FATIMA - CALLE DE...,NaN
14,21/06/2016,DE 19:00 A 19:59,MARTES,CIUDAD LINEAL,AVENIDA DE AMERICA KM.,4500,2016/5990,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,2.0,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,MUJER,HL,DE 40 A 44 AÑOS,NaN,"{'latitude': 40.4257278, 'longitude': -3.7072423}","AVENIDA DE AMERICA KM. 4500, Madrid, Spain",NaN,NaN,"(40.35871775, -3.8203344946376587, 0.0)",AVENIDA DE AMERICA KM. CIUDAD LINEAL ...,NaN
15,13/06/2010,DE 2:00 A 2:59,DOMINGO,VICALVARO,CALLE DE CALAHORRA - PASEO DE LOS ARTILLEROS,0,2010/5352,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,1.0,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,IL,DE 21 A 24 AÑOS,"[CALLE DE CALAHORRA , PASEO DE LOS ARTILLEROS...","{'latitude': 40.4528989, 'longitude': -3.70393...",CALLE DE CALAHORRA - PASEO DE LOS ARTILLEROS 0...,CALLE DE CALAHORRA PASEO DE LOS ARTILLEROS ...,"{'latitude': 40.40774589999999, 'longitude': -...","{'latitude': 40.40774589999999, 'longitude': -...",CALLE DE CALAHORRA - PASEO DE LOS ARTILLEROS V...,NaN
16,06/06/2015,DE 11:00 A 11:59,SABADO,ARGANZUELA,PASEO DE SANTA MARIA DE LA CABEZA,5,2015/5282,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,MUJER,HL,DE 25 A 29 AÑOS,NaN,"{'latitude': 40.3434512, 'longitude': -3.6929635}","PASEO DE SANTA MARIA DE LA CABEZA 5, Madrid, S...",NaN,NaN,"(40.40658095, -3.6937868443711186, 0.0)",PASEO DE SANTA MARIA DE LA CABEZA ARGANZUELA ...,NaN
17,23/11/2015,DE 17:00 A 17:59,LUNES,CARABANCHEL,AVENIDA DE LOS POBLADOS,98,2015/10677,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,5.0,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 30 A 34 ANOS,NaN,"{'latitude': 40.3576999, 'longitude': -3.6959936}","AVENIDA DE LOS POBLADOS 98, Madrid, Spain",NaN,NaN,"(40.3939864, -3.7717371, 0.0)",AVENIDA DE LOS POBLADOS CARABANCHEL ...,NaN
18,25/06/2013,DE 14:00 A 14:59,MARTES,MORATALAZ,AUTOVIA M-30 CALZADA 2 KM.,8900,2013/5848,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,MUJER,HL,DE 40 A 44 AÑOS,NaN,"{'latitude': 40.48002, 'longitude': -3.70463}","AUTOVIA M-30 CALZADA 2 KM. 8900, Madrid, Spain",NaN,NaN,"(40.406094, -3.66066, 0.0)","AUTOVIA M-30 MORATALAZ , ...","(40.406094, -3.66066, 0.0)"
19,11/02/2017,DE 13:00 A 13:59,SABADO,MONCLOA-ARAVACA,AUTOVIA M-30 CALZADA 2 KM.,18100,2017/1441,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,1.0,CHOQUE CON OBJETO FIJO,TURISMO,CONDUCTOR,HOMBRE,HL,DE 40 A 44 AÑOS,NaN,"{'latitude': 40.4069876, 'longitude': -3.71163...","AUTOVIA M-30 CALZADA 2 KM. 18100, Madrid, Spain",NaN,NaN,"(40.4609015, -3.7596365, 0.0)","AUTOVIA M-30 MONCLOA-ARAVACA , ...","(40.4609015, -3.7596365, 0.0)"
20,30/12/2010,DE 20:00 A 20:59,JUEVES,VICALVARO,PLAZA DE ALOSNO,4,2010/11943,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,3.0,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 45 A 49 AÑOS,NaN,"{'latitude': 40.3680713, 'longitude': -3.6236592}","PLAZA DE ALOSNO 4, Madrid, Spain",NaN,NaN,"(40.4056395, -3.6174293, 0.0)",PLAZA DE ALOSNO VICALVARO ...,NaN
21,26/03/2012,DE 9:00 A 9:59,LUNES,MORATALAZ,AUTOVIA M-23 ENTRADA KM.,0,2012/2828,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,3.0,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,MUJER,HL,DE 30 A 34 ANOS,NaN,"{'latitude': 40.4426263, 'longitude': -3.7125723}","AUTOVIA M-23 ENTRADA KM. 0, Madrid, Spain",NaN,NaN,"(40.406094, -3.66066, 0.0)","AUTOVIA M-23 MORATALAZ , ...","(40.406094, -3.66066, 0.0)"
22,05/01/2018,DE 20:00 A 20:59,VIERNES,CHAMARTIN,AVENIDA DE CONCHA ESPINA,67,2018/180,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,2.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,HL,DE 40 A 44 AÑOS,NaN,"{'latitude': 40.4388829, 'longitude': -3.7099272}","AVENIDA DE CONCHA ESPINA 67, Madrid, Spain",NaN,NaN,"(40.4522218, -3.6898256, 0.0)",AVENIDA DE CONCHA ESPINA CHAMARTIN ...,NaN
23,01/05/2010,DE 6:00 A 6:59,SABADO,SAN BLAS,CALLE DE ALCALA,470,2010/3820,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,CHOQUE CON OBJETO FIJO,FURGONETA,CONDUCTOR,HOMBRE,HL,DE 30 A 34 ANOS,NaN,"{'latitude': 40.4127308, 'longitude': -3.6914211}","CALLE DE ALCALA 470, Madrid, Spain",NaN,NaN,"(40.4391331, -3.632933, 0.0)",CALLE DE ALCALA SAN BLAS ...,NaN
24,26/01/2010,DE 15:00 A 15:59,MARTES,MORATALAZ,AUTOVIA M-23 ENTRADA KM.,2000,2010/749,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,4.0,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,MUJER,HL,DE 35 A 39 AÑOS,NaN,"{'latitude': 40.4201146, 'longitude': -3.7030137}","AUTOVIA M-23 ENTRADA KM. 2000, Madrid, Spain",NaN,NaN,"(40.406094, -3.66066, 0.0)","AUTOVIA M-23 MORATALAZ , ...","(40.406094, -3.66066, 0.0)"
25,11/05/2014,DE 12:00 A 12:59,DOMINGO,SAN BLAS,CALLE DE HERENCIA - CALLE DE HINOJAL,0,2014/4371,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,3.0,COLISIÓN DOBLE,TURISMO,VIAJERO,HOMBRE,HG,DE 18 A 20 AÑOS,"[CALLE DE HERENCIA , CALLE DE HINOJAL ...","{'latitude': 40.423051, 'longitude': -3.6941242}","CALLE DE HERENCIA - CALLE DE HINOJAL 0, Madrid...",CALLE DE HERENCIA CALLE DE HINOJAL ...,"{'latitude': 40.4321163, 'longitude': -3.6126278}","{'latitude': 40.4321163, 'longitude': -3.6126278}",CALLE DE HERENCIA - CALLE DE HINOJAL SAN BLAS ...,NaN
26,01/12/2017,DE 16:00 A 16:59,VIERNES,CIUDAD LINEAL,CALLE DE BENIDORM - CALLE DE JOSE VILLENA,0,2017/11560,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,2.0,COLISIÓN DOBLE,CICLOMOTOR,CONDUCTOR,HOMBRE,HG,DE 21 A 24 AÑOS,"[CALLE DE BENIDORM , CALLE DE JOSE VILLENA ...","{'latitude': 40.37399, 'longitude': -3.73542}","CALLE DE BENIDORM - CALLE DE JOSE VILLENA 0, M...",CALLE DE BENIDORM CALLE DE JOSE VILLENA ...,"{'latitude': 40.4309218, 'longitude': -3.655609}","{'latitude': 40.4309218, 'longitude': -3.655609}",CALLE DE BENIDORM - CALLE DE JOSE VILLENA CIUD...,NaN
27,07/01/2010,DE 20:00 A 20:59,JUEVES,HORTALEZA,CALLE DE AREQUIPA,2,2010/212,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,1.0,ATROPELLO,NO ASIGNADO,PEATON,MUJER,IL,DE 55 A 59 AÑOS,NaN,"{'latitude': 40.39439280000001, 'longitude': -...","CALLE DE AREQUIPA 2, Madrid, Spain",NaN,NaN,"(40.4689834, -3.6380676, 0.0)",CALLE DE AREQUIPA HORTALEZA ...,NaN
28,07/06/2016,DE 9:00 A 9:59,MARTES,MORATALAZ,AVENIDA DEL DOCTOR GARCIA TAPIA - CALLE DE LA ...,0,2016/5396,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,ATROPELLO,AUTO-TAXI,CONDUCTOR,HOMBRE,IL,DE 50 A 54 AÑOS,"[AVENIDA DEL DOCTOR GARCIA TAPIA , CALLE DE L...","{'latitude': 40.4082497, 'longitude': -3.729216}",AVENIDA DEL DOCTOR GARCIA TAPIA - CALLE DE LA ...,AVENIDA DEL DOCTOR GARCIA TAPIA CALLE DE LA F...,"{'latitude': 40.40827, 'longitude': -3.63074}","{'latitude': 40.40827, 'longitude': -3.63074}",AVENIDA DEL DOCTOR GARCIA TAPIA - CALLE DE LA ...,NaN
29,24/09/2016,DE 19:00 A 19:59,SABADO,SALAMANCA,CALLE DE MARIA DE MOLINA - CALLE DE SERRANO,0,2016/8862,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,MUJER,IL,DE 30 A 34 ANOS,"[CALLE DE MARIA DE MOLINA , CALLE DE SERRANO ...","{'latitude': 40.4744525, 'longitude': -3.6437132}","CALLE DE MARIA DE MOLINA - CALLE DE SERRANO 0,...",CALLE DE MARIA DE MOLINA CALLE DE SERRANO ...,"{'latitude': 40.437866, 'longitude': -3.686275...","{'latitude': 40.437866, 'longitude': -3.686275...",CALLE DE MARIA DE MOLINA - CALLE DE SERRANO SA...,NaN
30,21/06/2017,DE 7:00 A 7:59,MIERCOLES,CHAMARTIN,CALLE DE MARIA DE MOLINA,31,2017/5984,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,FURGONETA,CONDUCTOR,HOMBRE,HL,DE 25 A 29 AÑOS,NaN,"{'latitude': 40.4193428, 'longitude': -3.6164306}","CALLE DE MARIA DE MOLINA 31, Madrid, Spain",NaN,NaN,"(40.437903, -3.682586, 0.0)",CALLE DE MARIA DE MOLINA CHAMARTIN ...,NaN
31,28/05/2010,DE 19:00 A 19:59,VIERNES,ARGANZUELA,PASEO DE LAS DELICIAS,61,2010/4992,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,2.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 60 A 64 AÑOS,NaN,"{'latitude': 40.3915086, 'longitude': -3.6533734}","PASEO DE LAS DELICIAS 61, Madrid, Spain",NaN,NaN,"(40.3993218, -3.6921489, 0.0)",PASEO DE LAS DELICIAS ARGANZUELA ...,NaN
32,06/01/2010,DE 2:00 A 2:59,MIERCOLES,LATINA,AVENIDA DEL GENERAL FANJUL,50,2010/119,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,CHOQUE CON OBJETO FIJO,TURISMO,VIAJERO,MUJER,HL,DE 18 A 20 AÑOS,NaN,"{'latitude': 40.4354406, 'longitude': -3.6752312}","AVENIDA DEL GENERAL FANJUL 50, Madrid, Spain",NaN,NaN,"(40.3820845, -3.7755722, 0.0)",AVENIDA DEL GENERAL FANJUL LATINA ...,NaN
33,26/05/2010,DE 13:00 A 13:59,MIERCOLES,FUENCARRAL-EL PARDO,CALLE DE ANGELITA CAMARERO - CALLE DE SANDALIA...,0,2010/4762,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,FURGONETA,CONDUCTOR,HOMBRE,HL,DE 35 A 39 AÑOS,"[CALLE DE ANGELITA CAMARERO , CALLE DE SANDAL...","{'latitude': 40.4265121, 'longitude': -3.6114963}",CALLE DE ANGELITA CAMARERO - CALLE DE SANDALIA...,CALLE DE ANGELITA CAMARERO CALLE DE SANDALIA ...,"{'latitude': 40.4818453, 'longitude': -3.7281057}","{'latitude': 40.4818453, 'longitude': -3.7281057}",CALLE DE ANGELITA CAMARERO - CALLE DE SANDALIA...,NaN
34,07/02/2013,DE 18:00 A 18:59,JUEVES,CENTRO,CALLE DE SAN BERNARDO - CALLE DEL ESPIRITU SANTO,0,2013/1228,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,DE 45 A 49 AÑOS,"[CALLE DE SAN BERNARDO , CALLE DEL ESPIRITU S...","{'latitude': 40.4516802, 'longitude': -3.6813903}",CALLE DE SAN BERNARDO - CALLE DEL ESPIRITU SAN...,CALLE DE SAN BERNARDO CALLE DEL ESPIRITU SANT...,"{'latitude': 40.4257278, 'longitude': -3.7072423}","{'latitude': 40.4257278, 'longitude': -3.7072423}",CALLE DE SAN BERNARDO - CALLE DEL ESPIRITU SAN...,NaN
35,28/11/2017,DE 15:00 A 15:59,MARTES,TETUAN,CALLE DE CASTILLA - CALLE DE GOIRI,0,2017/11516,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 70 A 74 AÑOS,"[CALLE DE CASTILLA , CALLE DE GOIRI ...","{'latitude': 40.396545, 'longitude': -3.61782}","CALLE DE CASTILLA - CALLE DE GOIRI 0, Madrid, ...",CALLE DE CASTILLA CALLE DE GOIRI ...,"{'latitude': 40.4528989, 'longitude': -3.70393...","{'latitude': 40.4528989, 'longitude': -3.70393...",CALLE DE CASTILLA - CALLE DE GOIRI TETUAN ...,NaN
36,06/12/2011,DE 20:00 A 20:59,MARTES,RETIRO,CALLE DEL ALCALDE SAINZ DE BARANDA,107,2011/11350,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,OTRAS CAUSAS,TURISMO,CONDUCTOR,HOMBRE,HG,DE 45 A 49 AÑOS,NaN,"{'latitude': 40.4650715, 'longitude': -3.70713...","CALLE DEL ALCALDE SAINZ DE BARANDA 107, Madrid...",NaN,NaN,"(40.4185401, -3.6659227, 0.0)",CALLE DEL ALCALDE SAINZ DE BARANDA RETIRO ...,NaN
37,08/12/2017,DE 15:00 A 15:59,VIERNES,VILLAVERDE,CALLE DE LA ALEGRIA DE LA HUERTA,14,2017/11840,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 35 A 39 AÑOS,NaN,"{'latitude': 40.3723055, 'longitude': -3.64876...","CALLE DE LA ALEGRIA DE LA HUERTA 14, Madrid, S...",NaN,NaN,"(40.3547275, -3.6955981864353302, 0.0)",CALLE DE LA ALEGRIA DE LA HUERTA VILLAVERDE ...,NaN
38,30/01/2017,DE 11:00 A 11:59,LUNES,VILLAVERDE,AVENIDA DE ANDALUCIA - CALLE DE SAN DALMACIO,0,2017/967,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO,NO,SI,1.0,COLISIÓN DOBLE,CAMION,CONDUCTOR,HOMBRE,IL,DE 50 A 54 AÑOS,"[AVENIDA DE ANDALUCIA , CALLE DE SAN DALMACIO...","{'latitude': 40.4712682, 'longitude': -3.7146901}",AVENIDA DE ANDALUCIA - CALLE DE SAN DALMACIO 0...,AVENIDA DE ANDALUCIA CALLE DE SAN DALMACIO ...,"{'latitude': 40.3434512, 'longitude': -3.6929635}","{'latitude': 40.3434512, 'longitude': -3.6929635}",AVENIDA DE ANDALUCIA - CALLE DE SAN DALMACIO V...,NaN
39,29/03/2014,DE 14:00 A 14:59,SABADO,ARGANZUELA,PASEO DE YESERIAS,29,2014/3075,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,1.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 55 A 59 AÑOS,NaN,"{'latitude': 40.4671165, 'longitude': -3.6368542}","PASEO DE YESERIAS 29, Madrid, Spain",NaN,NaN,"(40.400483, -3.7135361, 0.0)",PASEO DE YESERIAS ARGANZUELA ...,NaN
40,26/11/2014,DE 9:00 A 9:59,MIERCOLES,VILLAVERDE,AVENIDA DE LA VERBENA DE LA PALOMA - CALLE DE ...,0,2014/10811,NO,NO,NO,NO,SI,NO,SI,NO,NO,NO,NO,NO,1.0,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 30 A 34 ANOS,"[AVENIDA DE LA VERBENA DE LA PALOMA , CALLE D...","{'latitude': 40.4200115, 'longitude': -3.7011613}",AVENIDA DE LA VERBENA DE LA PALOMA - CALLE DE ...,AVENIDA DE LA VERBENA DE LA PALOMA CALLE DE L...,"{'latitude': 40.3576999, 'longitude': -3.6959936}","{'latitude': 40.3576999, 'longitude': -3.6959936}",AVENIDA DE LA VERBENA DE LA PALOMA - CALLE DE ...,NaN
41,03/11/2011,DE 22:00 A 22:59,JUEVES,FUENCARRAL-EL PARDO,AVENIDA DE MONFORTE DE LEMOS - CALLE DE GINZO ...,0,2011/10108,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,1.0,COLISIÓN MÚLTIPLE,CAMION,CONDUCTOR,HOMBRE,IL,DE 35 A 39 AÑOS,"[AVENIDA DE MONFORTE DE LEMOS , CALLE DE GINZ...","{'latitude': 40.42560770000001, 'longitude': -...",AVENIDA DE MONFORTE DE LEMOS - CALLE DE GINZO ...,AVENIDA DE MONFORTE DE LEMOS CALLE DE GINZO D...,"{'latitude': 40.48002, 'longitude': -3.70463}","{'latitude': 40.48002, 'longitude': -3.70463}",AVENIDA DE MONFORTE DE LEMOS - CALLE DE GINZO ...,NaN

In [180]:
df.to_csv('./dfsemifinal_Accidentalidad.csv',sep=';', decimal='.')

In [231]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="The Crash")
location2 = geolocator.geocode('AUTOVIA M-30, arganzuela, Madrid, Spain')
print(location2.address)
print((location2.latitude, location2.longitude))

Autovía de Toledo, Chopera, Arganzuela, Madrid, Área metropolitana de Madrid y Corredor del Henares, Comunidad de Madrid, 28001, España
(40.396602, -3.7033402)