In [1]:
import pandas as pd
import numpy as np
import xml.etree.ElementTree as et
from math import sin, cos, sqrt, atan2, radians

In [2]:
mytree=et.parse('noche_ocio.xml')

In [3]:
myroot = mytree.getroot()

In [4]:
latitud=[]
longitud=[]
for c in myroot.findall('service/geoData'):
    lat=c.find('latitude').text
    lon=c.find('longitude').text
    latitud.append(lat)
    longitud.append(lon)

In [5]:
df_ocio = pd.DataFrame({'Latidud_ocio': latitud, 'Longitud_ocio': longitud})

In [6]:
df_ocio.head()

      Latidud_ocio    Longitud_ocio
0  40.565646800000  -3.913977500000
1  40.055614000000  -3.604527400000
2  40.424491600000  -3.691445800000
3  40.420115300000  -3.700814800000
4  40.453986300000  -3.694140200000

In [8]:
df_ocio.to_csv('Coordenadas_ocio.csv',sep=';', decimal='.', index=False)